@charset "utf-8";

@import "mixins";

.build_container {
	min-height: 100%;
	padding: 60px 0 114px;
	background-color: #fff;
	&.buy_options {
		padding-top: 40px;
	}
	.content_wrap {
		max-width: 1200px;
		margin: 0 auto;
		> .group {
			&:not(:first-child) {
				margin-top: 120px;
			}
			.content_head + .frm_field {
				margin-top: 20px;
			}
			[class^="content_"][class*="title"] + .frm_field {
				margin-top: 40px;
			}
		}
	}
	.content_title {
		margin-bottom: 6px;
		color: #000;
		font-weight: 900;
		font-size: 2.5rem;
		line-height: 3.125rem;
		@include FontHead;
	}
	.content_stitle {
		margin-bottom: 20px;
		font-weight: 900;
		font-size: 1.875rem;
		@include FontHead;
	}
	.content_desc {
		margin-bottom: 40px;
		color: #000;
		font-size: 1rem;
		line-height: 1.5rem;
	}
	.content_info {
		margin-top: 40px;
		padding-top: 18px;
		border-top: 1px dashed #999;
		.msg_info {
			color: #999;
			font-size: 0.875rem;
			line-height: 1.375rem;
		}
		.bullet_square {
			> li {
				color: #999;
				font-size: 0.875rem;
				line-height: 1.375rem;
				&:before {
					top: 9px;
					width: 2px;
					height: 2px;
					background-color: #999;
				}
			}
		}
		.bullet_square:not(ul):not(ol) {
			color: #999;
			font-size: 0.875rem;
			line-height: 1.375rem;
			&:before {
				top: 9px;
				width: 2px;
				height: 2px;
				background-color: #999;
			}
		}
	}
}

.buy_options {
	.tab_wrap {
		.tablist._line {
			text-align: center;
			> li {
				width: 180px;
			}
			button {
				width: 100%;
			}
		}
	}
	.options_controls {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 40px 0 15px;
		.selected_sum {
			line-height: 1.125rem;
			.currunt,
			span {
				font-size: inherit;
			}
			.currunt {
				font-weight: 600;
			}
			span {
				color: #999;
			}
		}
		.btn_clear {
			display: flex;
			align-items: center;
			margin-left: 40px;
			span {
				color: #285BEE;
				font-size: 1rem;
				line-height: 1.5rem;
				@include FontHead;
			}
		}
	}
}

.build_vehicles {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-top:13.365%;
	.vehicles-head {
		margin-left: 13.365%;
		max-width:190px;
		margin-bottom:40px;
		
		h2 {

			font-size:2.5rem;
			font-weight: 900;
			@include FontHead;
		}
	}

	.vehicles-model {
		margin-bottom: 40px;
		padding: 0 13.365%;
		.v_item {
			margin-bottom:15px;
			border:1px solid #D9D9D9;
			&:last-child {
				margin-bottom:0;
			}
			button {
				width:100%;
				height:100%;
				padding:7.3% 9% 7.2%;
				font-size:1.125rem;
				font-weight:600;
				text-align: left;
				@include FontHead;
				&:active {
					background-color: #0E306C;
					color:#fff;
				}
				&[aria-selected="true"] {
					background-color: #0E306C;
					color:#fff;
				}
			}
		}
	}
	.vehicles_util {
		height:90px;
		margin-top: auto;
		border-top:1px solid #D9D9D9;
		.btn_find {
			display: block;
			height:100%;
			padding: 0 13.365%;
			font-size:1.25rem;
			font-weight: 900;
			line-height:4.5;
			i {
				margin-top:-3px;
			}
		}	
	}
}

.build_option {
	.item {
		border-bottom:1px solid #D9D9D9;
		&:last-child {
			border-bottom:0;
		}
		&._active {
			.menu_head { 
				position:relative;
				top:0;
				@include transform(translate(0, 0));
			}
			.heading {
				i {display: none;}
				.trim_cnt {display: block;}
			}
			.opt_title {
				font-size:2.5rem;
				font-weight: 900;
				color:#000;
				@include FontHead;
			}
			.opt_summary {
				display: none;
			}
		}
	}
	.trim_item {
		&._active {
			padding-top:50px;
			.menu_head {
				padding-top:0;
			}
		}
	}
	.menu_head {
		position:relative;
		.heading {	
			width:100%;
			i {
				right:0;
			}
		}
	}
	.opt_title {
		font-size:1.625rem;
		color:#999999;
		@include FontHead;
	}
	.opt_summary {
		display: flex;
		margin-top:5px;
		color: #000;
		font-size: 0.875rem;
		font-weight: 600;
		span {
			font-size: inherit;
			font-weight: inherit;
			font-family: inherit;
			line-height: 1.375rem;
			&:not(:first-child) {
				margin-left: 10px;
			}
		}
	}
	.trim_cnt {
		display: none;
		margin-top:25px;
		color:rgba(0,0,0, .5);
		font-size: 1rem;
		em {
			color:#000;
			font-weight: 600;
			font-size:inherit;
		}
	}
	.menu_panel {
		display: none;
		max-height:32rem;
		overflow-y: auto;
	}
	.trims_control {
		display: flex;
		margin-bottom: 10px;
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1;
			height: 50px;
			border: 1px solid #d9d9d9;
			background-color: #f4f4f4;
			&:not(:first-child) {
				margin-left: 10px;
			}
			span {
				color: #000;
				font-weight: 600;
				font-size: .875rem;
			}
		}
	}
	.trims_item {
		border: 1px solid #d9d9d9;
		cursor: pointer;
		&:not(:first-child) {
			margin-top: 10px;
		}
		&._active {
			border: 0;
			background-color: #0E306C;
			box-shadow: 8px 8px 40px rgba(0,0,0,.2);
			.name,
			.price {
				color: #fff;
			}
			.name {
				font-weight: 900;
			}
			.price {
				font-weight: 600;
			}
			.flag {
				&:before {
					border-bottom-color: #0E306C;
				}
			}
		}
		> .group {
			position:relative;
			display: flex;
			align-items: center;
			width:100%;
			min-height:68px;
			padding: 7.335% 32% 6.725% 9.17%;
		}
		.name {
			color: #000;
			font-weight: 600;
			font-size: 1.125rem;
			@include FontHead;
		}
		.price {
			margin-left: 20px;
			color: #999;
			font-size: .875rem;
			@include FontHead;
		}
		.tag {
			position:absolute;
			top:50%;
			right:20px;
			@include transform(translate(0, -50%));
			margin-left: auto;
			padding: 1px 8px 3px;
			font-weight: 600;
			font-size: 12px;
			line-height: 20px;
			&.new {
				background-color: #E2E9FF;
				color: #0559F7;
			}
			&.popular {
				background-color: #F1E7F8;
				color: #7A4DF5;
			}
			&.best {
				background-color: #F8EADC;
				color: #FF9934;
			}
		}
		.flag {
			position:absolute;
			right:0;
			top:50%;
			@include transform(translate(0, -50%));
			padding:3px 12px 6px 17px;
			font-weight:600;
			font-size:12px;
			line-height:20px;
			@include FontHead;
			&:before {
				content:'';
				display:inline-block;
				position:absolute;
				left:-8px;
				top:0;
				border-bottom:29px solid #fff;
				border-right:8px solid transparent;
				border-left:8px solid transparent;
			}
			&.promotion {
				background-color:#FF8D34;
				color:#fff;
			}
		}
		.arrow {
			right:20px;
			@include iconAngle($direction: 'down', $width: 14px, $height: 7px, $thick: 2px, $color: #000, $display: inline-block, $position: absolute);
			display: none;
		}
	}
	.options_panel {
		.options_control {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.selected_sum {
				font-size: 1rem;
				line-height: 1.125rem;
				.currunt,
				span {
					font-size: inherit;
				}
				.currunt {
					color: #000;
					font-weight: 600;
				}
				span {
					color: #999;
				}
			}
			.btn_clear {
				display: flex;
				align-items: center;
				span {
					color: #000;
					font-size: 1rem;
					line-height: 1.5rem;
				}
			}
		}
		.selected_options {
			margin-top: 13px;
			padding-top: 19px;
			border-top: 3px solid #000;
			> li {
				&:not(:first-child) {
					margin-top: 12px;
				}
				> .group {
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: .875rem;
				}
			}
			// .ellipsis {
			// 	overflow: hidden;
			// 	text-overflow: ellipsis;
			// 	white-space: nowrap;
			// }
			.name {
				overflow: hidden;
				margin-right: 13px;
				color: #000;
				font-weight: 600;
				font-size: inherit;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.btn_delete {
				flex: 0 0 auto;
				position: relative;
				width: 14px;
				height: 14px;
				margin-right: auto;
				background-color: #d8d8d8;
				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					left: 50%;
					top: 50%;
					background-color: #fff;
				}
				&:before {
					width: 7.5px;
					height: 1.5px;
					@include transform(translate(-50%, -50%) rotate(45deg));
				}
				&:after {
					width: 1.5px;
					height: 7.5px;
					@include transform(translate(-50%, -50%) rotate(45deg));
				}
			}
			.price {
				flex: 0 0 auto;
				margin-left: 13px;
				color: #EA9000;
				font-weight: 600;
				font-size: inherit;
			}
		}
		.total_result {
			margin-top: 21px;
			padding-top: 16px;
			border-top: 1px solid #d9d9d9;
			> .group {
				display: flex;
				justify-content: space-between;
				&:not(:first-child) {
					margin-top: 5px;
				}
			}
			em,
			span {
				color: #000;
				font-size: .875rem;
			}
			span {
				flex-shrink: 0;
				text-align: right;
			}
			.total_desc {
				font-weight: 900;
				font-size: 1.125rem;
			}
			.total_price {
				color: #EA9000;
				font-weight: 900;
				font-size: 1.25rem;
			}
		}
	}
	.concierge_panel {
		> .title {
			padding-bottom: 11px;
			color: #000;
			font-size: 1rem;
			line-height: 1.4375rem;
			@include FontText;
		}
		.applied_list {
			padding-top: 18px;
			border-top: 3px solid #000;
			> li {
				color: #999;
				font-size: .875rem;
				line-height: 1.4375rem;
				&:not(:first-child) {
					margin-top: 18px;
				}
				&.applied {
					color: #000;
					font-weight: 600;
					.check {
						display: block;
					}
				}
				> .group {
					display: flex;
					justify-content: space-between;
					align-items: center;
					color: inherit;
					font-size: inherit;
					font-weight: inherit;
				}
				.check {
					display: none;
					position: relative;
					width: 18px;
					height: 18px;
					background-color: #000;
					border-radius: 100%;
					&:before {
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						width: 4px;
						height: 4px;
						border-left: 1.5px solid #fff;
						border-top: 1.5px solid #fff;
						transform: translate(-50%, -50%) rotate(225deg);
					}
				}
			}
		}
	}
	.color_panel {
		.select_color {
			> .group {
				&:not(:first-child) {
					margin-top: 30px;
					padding-top: 30px;
					border-top: 1px dotted #999;
				}
			}
			.option {
				display: flex;
				align-items: center;
			}
			.part {
				margin-right: auto;
				color: #000;
				font-weight: 900;
				font-size: 1.375rem;
			}
			.selected {
				color: #000;
				font-weight: 600;
				font-size: .875rem;
				line-height: 1.625rem;
			}
			.price {
				margin-left: 8px;
				color: #FF8D34;
				font-weight: 600;
				font-size: .875rem;
				line-height: 1.5rem;
			}
			.color_chips {
				margin-top: 20px;
			}
		}
		.estimated_date {
			position: relative;
			margin-top: 60px;
			padding: 18px 25px 20px 112px;
			border: 1px solid #d9d9d9;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 25px;
				top: 50%;
				width: 62px;
				height: 62px;
				margin-top: -31px;
				background: {
					image: url(../images/ico/icon_delivery.png);
					size: cover;
					repeat: no-repeat;
				};
			}
			.msg {
				color: #777;
				font-size: .875rem;
			}
			.day {
				margin-top: 5px;
				color: #000;
				font-weight: 900;
				font-size: 1rem;
			}
		}
		.popular_color {
			margin-top: 30px;
			> .group {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.most_color {
				color: #000;
				font-weight: 600;
			}
			.btn_more {
				position: relative;
				width: 10px;
				height: 10px;
				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					background-color: #000;
				}
				&:before {
					left: 50%;
					top: 0;
					width: 2px;
					height: 10px;
					margin-left: -1px;
				}
				&:after {
					left: 0;
					top: 50%;
					width: 10px;
					height: 2px;
					margin-top: -1px;
				}
			}
			.result {
				display: flex;
				align-items: center;
				margin-top: 22px;
				.color {
					width: 72px;
					font-weight: 900;
					font-size: .875rem;
				}
				.bar {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					flex: 1;
					position: relative;
					height: 23px;
					padding-right: 9px;
					border: 1px solid #D9D9D9;
					background-color: #F4F4F4;
				}
				.gauge {
					position: absolute;
					left: -1px;
					top: -1px;
					bottom: -1px;
				}
				.percent {
					font-weight: 600;
					font-size: .875rem;
				}
			}
		}
	}
}

.color_chips {
	.color_list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-top: -14px;
		li {
			position: relative;
			display: block;
			-webkit-box-flex: 0;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			margin: 14px 14px 0 0;
			&:last-child {
				margin-right:0;
			}
		}
		.color_select {
			position:relative;
			width:35px;
			height:35px;
			border-radius: 100%;
			background: {
				size:cover;
				position:center center;
				repeat: no-repeat;
			}
			overflow: hidden;
			&[aria-selected='true'] {
				&:after {
					content: '';
					display: block;
					position:absolute;
					left:0;
					top:0;
					display: block;
					width:100%;
					height:100%;
					background: {
						image: url(../images/ico/icon_color_selected.png);
						size:20px;
						position:center center;
						repeat: no-repeat;
					}
					z-index: 1;
				}
			}
			&.unable {
				&:after {
					content: '';
					display: block;
					position:absolute;
					left:0;
					top:0;
					display: block;
					width:100%;
					height:100%;
					background: {
						image: url(../images/ico/icon_unable_selection.png);
						size:cover;
						position:center center;
						repeat: no-repeat;
					}
					z-index: 1;
				}
			}
		}
	}
}

.product_container {
	// max-width:1150px;
	// margin:0 auto;
	max-width:inherit;
	margin:0;
	padding:4.085% 10.892%;
	.product_mask {
		margin-left:-35px;
		&:after {
			@extend %clearer;
		}
	}
	.product_filter {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		.total {
			color: #999;
			.current {
				font-weight: 600;
			}
		}
		.btn_filter {
			display: flex;
			align-items: center;
			span {
				color: #0559F7;
				font-size: 1rem;
				@include FontHead;
			}
		}
	}
	@media screen and (max-width:1600px){
		padding-left: 5.09%;
    padding-right: 5.09%;
	}
}
.product {
	float:left;
	width:calc(100% / 3 - 35px);
	margin-top:35px;
	margin-left:35px;
	padding-bottom:35px;
	background-color:#fff;
	cursor:pointer;
	&:hover {
		box-shadow:8px 8px 40px rgba(0,0,0,.16);
		.product_bottom {
			.btn-type {
				border:0;
				background-color:#0E306C;
				color:#fff;
				font-weight:600;
				&:before {
					border-color:#fff;
				}
			}
		}
	}
	&:nth-child(3n) {
		margin-right:-3px;
	}
	&:nth-child(-n+3) {
		margin-top:0;
	}
	// &:nth-child(3n) ~ .product {
	// 	margin-top:20px;
	// }
	.product_head {
		position:relative;
		padding:15px 15px 0;
		.product_tag {
			display:inline-block;
			padding:0 8px 3px;
			font-weight:600;
			font-size:12px;
			line-height:20px;
			&.new {
				background-color:#EAEFFD;
				color:#327FD9;
			}
			&.popular {
				background-color:#F1E7F8;
				color:#8D64FC;
			}
		}
		.product_flag {
			display:inline-block;
			position:absolute;
			right:-8px;
			top:15px;
			padding:0 12px 3px 17px;
			font-weight:600;
			font-size:12px;
			line-height:20px;
			@include FontHead;
			&:before {
				content:'';
				display:inline-block;
				position:absolute;
				left:-8px;
				top:0;
				border-bottom:23px solid #fff;
				border-right:8px solid transparent;
				border-left:8px solid transparent;
			}
			&.promotion {
				background-color:#FF8D34;
				color:#fff;
			}
		}
	}
	.product_img {
		margin-top:60px;
		padding:0 20px;
		> img {
			width:100%;
		}
	}
	.product_name {
		display:flex;
		justify-content:space-between;
		align-items:flex-end;
		margin-top:25px;
		padding:0 35px;
		h3 {
			color:#000;
			font-weight:900;
			font-size:1.75rem;
			@include FontHead;
			span {
				display:block;
				color:#888;
				font-size:0.875rem;
				line-height:1.25rem;
			}
		}
		.product_more {
			position:relative;
			padding-right:25px;
			color:#000;
			font-size: 0.875rem;
			line-height:1.25rem;
			&:before {
				content:'';
				display:block;
				position:absolute;
				right:0;
				top:0;
				width:20px;
				height:20px;
				background: {
					image:url(../images/ico/icon_outlink.png);
					size:cover;
					position:0 center;
					repeat:no-repeat;
				};
			}
		}
	}
	.product_price {
		margin-top:15px;
		padding:0 35px;
		&:after {
			@extend %clearer;
		}
		> .group {
			float:left;
			width:50%;
			padding:10px 0 0 24px;
			border-top:1px solid #d9d9d9;
			&:first-child {
				border-right:1px solid #d9d9d9;
			}
			> span {
				color:#888;
				font-size:0.875rem;
				line-height:1.25rem;
			}
			> em {
				display: block;
				color:#000;
				font-weight:600;
				font-size:1.125rem;
				line-height:1.75rem;
			}
		}
	}
	.product_bottom {
		margin-top:15px;
		padding:0 35px;
		.btn-type {
			display:block;
			position:relative;
			height:50px;
			padding: 0 0 0 31px;
			color:#999;
			font-weight: normal;
			font-size:0.875rem;
			line-height:50px;
			@include FontHead;
			&:before {
				content:'';
				display:block;
				position:absolute;
				right:25px;
				top:50%;
				width:10px;
				height:10px;
				margin-top:-5px;
				border-left:2px solid #999;
				border-top:2px solid #999;
				@include rotate(135);
			}
		}
	}
	@media screen and (max-width:1400px){
		[class*='product_']:not(.product_head) {
			padding: 0 20px;
		}
	}
}
.option_mask {
	overflow: hidden;
	margin-left: -32px;
	&:after {
		@extend %clearer;
	}
}
.option_thumnail {
	float: left;
	position: relative;
	width: calc(100% / 4 - 32px);
	margin: 32px 0 0 32px;
	cursor: pointer;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: -15px;
		top: -15px;
		right: -15px;
		bottom: -20px;
		@include transition(.3s, ease);
	}
	&[aria-selected="true"] {
		&:before {
			box-shadow:12px 8px 40px rgba(0,0,0,.16);
		}
		.option_head {
			&:before {
				background-color: #FF8D34;
				border-color: #FF8D34;
			}
			&:after {
				border-color: #fff;
			}
		}
		// .option_bottom {
		// 	.option_price {
		// 		color: #EA9000;
		// 	}
		// 	.ic_info {
		// 		background-image: url(../images/ico/icon_info-select.png);
		// 	}
		// }
		.option_price {
			color: #EA9000;
		}
		.ic_info {
			background-image: url(../images/ico/icon_info-select.png);
		}
	}
	.option_head {
		position: relative;
		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
		}
		&:before {
			left: 0;
			top: 0;
			width: 30px;
			height: 30px;
			background-color: #fff;
			border: 1px solid #d9d9d9;
		}
		&:after {
			left: 11px;
			top: 9px;
			width: 7px;
			height: 7px;
			border-left: 3px solid #d9d9d9;
			border-top: 3px solid #d9d9d9;
			@include rotate(225);
		}
		.option_img {
			img {
				width: 100%;
			}
		}
		input[type=checkbox] {
			position:absolute;
			left:0;
			top:0;
			z-index: 2;
			width:100%;
			height:100%;
			visibility: hidden;
		}
		label {
			position:absolute;
			left:0;
			top:0;
			z-index: 2;
			width:100%;
			height:100%;
			cursor: pointer;
		}
	}
	.option_body {
		position: relative;
		padding: 13px 5px 0;
		// .option_seller {
		// 	display: block;
		// 	color: #000;
		// 	font-weight: 600;
		// 	font-size: 1.125rem;
		// 	line-height: 1.625rem;
		// 	@include ellipse(1);
		// }
		// .option_desc {
		// 	margin-top: 11px;
		// 	color: #999;
		// 	font-size: 0.875rem;
		// 	line-height: 1.375rem;
		// 	@include ellipse(2);
		// }
	}
	.option_seller {
		display: block;
		color: #000;
		font-weight: 600;
		font-size: 1.125rem;
		line-height: 1.625rem;
		@include ellipse(1);
	}
	.option_desc {
		margin-top: 11px;
		color: #999;
		font-size: 0.875rem;
		line-height: 1.375rem;
		@include ellipse(2);
	}
	.option_bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		padding: 11px 5px 0;
		// .option_price {
		// 	color: #000;
		// 	font-weight: 600;
		// 	font-size: 1rem;
		// 	line-height: 1.5rem;
		// }
		// .ic_info {
		// 	overflow: hidden;
		// 	margin-right: 0;
		// 	text-indent: 100%;
		// 	white-space: nowrap;
		// }
	}
	.option_price {
		color: #000;
		font-weight: 600;
		font-size: 1rem;
		line-height: 1.5rem;
	}
	.ic_info {
		overflow: hidden;
		margin-right: 0;
		text-indent: 100%;
		white-space: nowrap;
	}
}

.fixed_bottom {
	display: flex;
	.result {
		display: flex;
		align-items: center;
		flex: 3;
		padding-left: 60px;
		border-top: 1px solid #d9d9d9;
		.product_name {
			color: #000;
			font-weight: 600;
			font-size: 2.625rem;
			line-height: 4.125rem;
			@include FontHead;
		}
		.total_price {
			position: relative;
			margin-left: 34px;
			padding-left: 25px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				width: 1px;
				height: 32px;
				margin-top: -16px;
				border-left: 1px dashed #999;
			}
			.total {
				display: block;
				color: #999;
				font-size: 11px;
				line-height: 23px;
				@include FontHead;
			}
			.price {
				color: #FF8D34;
				font-weight: 900;
				font-size: 1.375rem;
				vertical-align: baseline;
				@include FontHead;
			}
			.pm {
				color: #000;
				font-size: 0.875rem;
				line-height: 1.438rem;
				vertical-align: baseline;
				@include FontHead;
			}
		}
	}
	.review {
		flex: 0.7044;
		border-top: 1px solid #d9d9d9;
		border-left: 1px solid #d9d9d9;
		span {
			position: relative;
			padding-left: 28px;
			color: #000;
			font-weight: 600;
			font-size: 1.125rem;
			line-height: 1.5rem;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				width: 16px;
				height: 16px;
				margin-top: -8px;
				background: {
					image: url("../images/ico/icon_review.png");
					size: cover;
					repeat: no-repeat;
				};
			}
		}
	}
	.btn-type {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1.311;
		height: auto;
		span {
			color: #fff;
			font-weight: 600;
			font-size: 1.5rem;
			@include FontHead;
		}
		i {
			margin-left: 16px;
			@include iconAngle($direction: 'right', $width: 10px, $height: 22px, $thick: 2.5px, $color: #fff, $display: inline-block);
		}
	}
}

@media screen and (min-width:1024px) and (max-width:1600px){
	.build_menu {
		.menu_panel {
			padding: 0 10.425% 13.1%;
		}
	}
	.build_option  {
		.trims_control {
			button {
				&:not(:first-child) {
					margin-left:8px;
				}
				span {
					font-size: 0.75rem;
				}
			}
		}
		.trims_item {
			.name {
				font-size:0.875rem;
			}
			.price {
				margin-left:10px;
			}
			> .group {
				display: block;
				text-align: left;
			}
			.price {
				display: block;
				margin-left:0;
			}	
		}
	}
}
@media screen and (min-width:1024px) and (max-width:1440px){
	.build_option {
		.trims_item {
			> .group {
				display: block;
				text-align: left;
			}
		}
	}
}

@media screen and (max-width:1024px){
}
.pg-mobile {
	.build_vehicles {
		padding:0;
		// border-bottom:1px solid #D9D9D9;
		.vehicles-head {
			max-width:100%;
			padding:10px 20px;
			margin-bottom:0;
			h2 {
				font-size:1.625rem;
			}
		}
		.vehicles-model {
			margin-left:5px;
			.v_item {
				border:0;
				button {
					position:relative;
					padding:13px 15px;
					font-weight: normal;
					font-size:1rem;
					&[aria-selected="true"] {
						background-color:#fff;
						color:#0E306C;
						&:after {
							content:'';
							position:absolute;
							bottom:-1px;
							left:0;
							display: block;
							width:100%;
							height:4px;
							background-color: #0E306C;
						}
					}
				}
			}
		}
		.vehicles_util {
			position:relative;
			width:100%;
			height:60px;
			background-color: #F4F4F5;
			text-align: right;
			.btn_find {
				padding:0 20px;
				color: #0559F7;
				font-size:1rem;
				font-weight: normal;
				line-height:3.6;
				@include FontHead;
				.ic_search {
					width: 15px;
					height: 15px;
					background-image: url(../images/ico/icon_search_blue.png);
					background-size: cover;
				}
			}
		}
	}
	//.build_vehicles

	.build_option {
		.item {
			display: none;
			padding-top:0;
			&._active {
				display: block;
				.menu_head {
					padding-top:10px;
					.opt_title {
						font-size:1.625rem;
					}
				}
			}
		}
		.menu_head {
			padding: 10px 20px 20px;
			min-height:auto;
			.heading {
				position:relative;
				top:inherit;
				@include transform(translate(0, 0));
				.trim_cnt {
					position:absolute;
					right:0;
					top:6px;
					margin-top:0;
					font-size: 0.875rem;
				}
			}
			.opt_title {
				&:before {
					content: '';
					display: inline-block;
					width:15px;
					height:24px;
					margin-right:8px;
					background: {
						image: url(../images/ico/m-icon_pageback.png);
						size: cover;
						repeat:no-repeat;
						position:center center;
					}
					vertical-align: middle;
				}
			}
		}
		.menu_panel {
			padding:0;
			max-height:inherit;
		}
		.trims_control {
			margin-bottom:0;
			button {
				border-left:0;
				border-right:0;
				&:not(:first-child) {
					margin-left:0;
					border-left:1px solid #d9d9d9;
				}
			}
		}
		.trims_list {
			padding:20px;
			.trims_item {
				&._active {
					display: block;
				}
				> .group {
					padding:24px 100px 22px 30px;
				}
			}
			&._pulldown {
				padding:0;
				.trims_item {
					display: none;
					&:not(:first-child) {
						margin-top:0;
					}
					&._active {
						display: block;
						background-color: #fff;
						.name, .price {
							color:#000;
						}
						.group {
							min-height:inherit;
							padding:19px 20px;
						}
						.tag {
							position:relative;
							right:inherit;
							top:inherit;
							margin-left:10px;
							@include transform(translate(0, 0));
						}
						.arrow {
							display: block;
						}
						.flag {
							position:relative;
							right:inherit;
							top:inherit;
							margin-left:10px;
							@include transform(translate(0, 0));
							&:before {
								border-bottom-color: #fff;
							}
						}
					}
				}
			}
		}
	}
	//.build_option
	.product_container {
		padding: 0;
		.product_mask {
			margin-left:0;
		}
	}
	.product {
		float:none;
		width:100%;
		margin-left:0;
		margin-top:20px;
		&:first-child {
			margin-top:0;
		}
		.product_name {
			padding: 0 35px;
			h3 {
				font-size: 28px;
			}
		}
		.product_price {
			padding: 0 35px;
			> .group {
				> span {
					font-size: .75rem;
				}
			}
		}
	}

	.option_thumnail {
		width:calc((100%/2) - 8px);
		margin:26px 15px 0 0;
		&:nth-child(2n) {
			margin-right:0;
		}
		&:nth-child(2n + 1) {
			clear:left;
		}
		&:before {
			display: none;
		}
	}

}
//.pg-mobile 

@media screen and (min-width:1920px){
	.product_container {
		padding-left: 6.8%;
		padding-right: 6.8%;
	}
	.product {
		max-width:360px;
		width:calc(100% / 4 - 35px);
		&:nth-child(4n) {
			margin-top:0 !important;
		}
		&:nth-child(4n+1) {
			clear:left;
		}
	}
}



/* vr360 */
.option-vr360 {
	overflow:hidden;
}
.option-vr360-cont {
	> div{display:none}
	> .is-active{display:block}
	.vr360-wrap {
		display:none;
		position:relative;
		width:100%;
		height:100%;
		&.is-active{
			display:block;
			&.progress-complete {
				.vr-dimmed{display:none}
				.progress{display:none}
			}
		}
		.inner {
			position:relative;
			padding-top:61.9%;
			z-index:1;
		}
		.sequence {
			visibility:hidden;
			position:absolute;
			top:0;left:0;
			width:100%;
			height:100%;
			img {
				position:absolute;top:50%;left:calc(50% + 15px);
				width:100%;
				min-width:500px;
				max-width:100%;
				height:auto;
				transform:translate(-50%, -50%);
			}
		}
		.on {visibility:visible}
	}
	.vr-dimmed {position:absolute;top:20px;right:0;left:0;padding-top:41.9%}
	.vr-car-wrap {
		&.e-start{cursor:ew-resize}
	}
	.vr-car-no-img{
		display:none;
		&.is-active{display:block;}
		.vr-car-no-img-inner{
			position:relative;
			padding-top:41.9%;
			z-index:-1;
		}
		img {
			position:absolute;top:50%;left:calc(50% + 15px);
			width:100%;
			max-width:inherit;
			height:auto;
			transform:translate(-50%, -50%);
		}
		.msg {padding:0 20px;text-align:center;font-size:1rem;color:#e63312;font-weight:600}
	} 
	.btn-vr360 {
		position:absolute;
		bottom:0;
		left:50%;
		font-size:1rem;
		z-index: 1;
		span {
			font-weight: 900;
			vertical-align: middle;
		}
	}
	.progress{
		display:none;
		position:absolute;left:0;width:100%;
		height:6px;
		font-size:0;
		line-height:0;
		background-color:transparent;
		.bar {text-align:center}
		.count {display:none}
		.bullet-area {position:absolute;top:0;left:0;width:100%;text-align:center}
		.bullet{display:inline-block;width:6px;height:6px;margin:0 3px;border-radius:50%;background-color:#00aad2;opacity:0.2}
	}
	&.is-loading {
		.progress {
			display:block;
			.bullet {-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-name:loading;animation-name:loading;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
			.bullet:nth-child(1){-webkit-animation-delay:0.1s;animation-delay:0.1s}
			.bullet:nth-child(2){-webkit-animation-delay:0.2s;animation-delay:0.2s}
			.bullet:nth-child(3){-webkit-animation-delay:0.3s;animation-delay:0.3s}
			.bullet:nth-child(4){-webkit-animation-delay:0.4s;animation-delay:0.4s}
			.bullet:nth-child(5){-webkit-animation-delay:0.5s;animation-delay:0.5s}
		}
	}
}



// .option-vr360-tab{display:flex;justify-content:center;margin-top:20px}
// .option-vr360-tab > .vr-tab{position:relative}
// .option-vr360-tab > .vr-tab + .vr-tab{margin-left:40px}
// .option-vr360-tab > .vr-tab + .vr-tab::before{content:"";position:absolute;top:4px;left:-20px;width:1px;height:16px;background-color:#b5b5b5}
// .option-vr360-tab > .vr-tab.is-active{text-decoration:underline;color:#00aad2;font-weight:600;font-family:'HyundaiSansHead'}