@charset "utf-8";

@import "mixins";

.build_vehicles {
	padding:13.365% 13.365%;
	
	.vehicles-head {
		max-width:190px;
		margin-bottom:40px;
		h2 {
			font-size:2.5rem;
			font-weight: 900;
			@include FontHead;
		}
	}

	.vehicles-model {
		.v_item {
			margin-bottom:15px;
			border:1px solid #D9D9D9;
			&:last-child {
				margin-bottom:0;
			}
			button {
				width:100%;
				height:100%;
				padding:7.3% 9% 7.2%;
				font-size:1.125rem;
				font-weight:600;
				text-align: left;
				@include FontHead;
				&:active {
					background-color: #0E306C;
					color:#fff;
				}
				&[aria-selected="true"] {
					background-color: #0E306C;
					color:#fff;
				}
			}
		}
	}
	.vehicles_util {
		position:fixed;
		bottom:0;
		left:0;
		width: calc(23.49% - 1px);
		height:90px;
		border-top:1px solid #D9D9D9;
		.btn_find {
			display: inline-block;
			width:100%;
			height:100%;
			padding:0 3.75rem;
			font-size:1.25rem;
			font-weight: 900;
			line-height:4.5;
			i {
				margin-top:-3px;
			}
		}	
	}
	.find_car {
		display: flex;
		align-items: center;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 101px;
		padding: 0 13.365%;
		border-top: 1px solid #D9D9D9;
		span {
			font-weight: 900;
			font-size: 1.25rem;
		}
	}
}

.build_option {
	.item {
		border-bottom:1px solid #D9D9D9;
		&:last-child {
			border-bottom:0;
		}
		&._active {
			.menu_head { 
				position:relative;
				top:0;
				@include transform(translate(0, 0));
			}
			.heading {
				i {display: none;}
				.trim_cnt {display: block;}
			}
			.opt_title {
				font-size:2.5rem;
				font-weight: 900;
				color:#000;
				@include FontHead;
			}
			.opt_summary {
				display: none;
			}
		}
	}
	.trim_item {
		&._active {
			padding-top:50px;
			.menu_head {
				padding-top:0;
			}
		}
	}
	.menu_head {
		position:relative;
		.heading {	
			width:100%;
			i {
				right:0;
			}
		}
	}
	.opt_title {
		font-size:1.625rem;
		color:#999999;
		@include FontHead;
	}
	.opt_summary {
		display: flex;
		margin-top:5px;
		color: #000;
		font-size: 0.875rem;
		font-weight: 600;
		span {
			font-size: inherit;
			font-weight: inherit;
			font-family: inherit;
			line-height: 1.375rem;
			&:not(:first-child) {
				margin-left: 10px;
			}
		}
	}
	.trim_cnt {
		display: none;
		margin-top:25px;
		color:rgba(0,0,0, .5);
		font-size: 1rem;
		em {
			color:#000;
			font-weight: 600;
			font-size:inherit;
		}
	}
	.menu_panel {
		display: none;
		max-height:32rem;
		overflow-y: auto;
	}
	.trims_control {
		display: flex;
		margin-bottom: 10px;
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1;
			height: 50px;
			border: 1px solid #d9d9d9;
			background-color: #f4f4f4;
			&:not(:first-child) {
				margin-left: 10px;
			}
			span {
				color: #000;
				font-weight: 600;
				font-size: .875rem;
			}
		}
	}
	.trims_item {
		border: 1px solid #d9d9d9;
		cursor: pointer;
		&:not(:first-child) {
			margin-top: 10px;
		}
		&._active {
			border: 0;
			background-color: #0E306C;
			box-shadow: 8px 8px 40px rgba(0,0,0,.2);
			.name,
			.price {
				color: #fff;
			}
			.name {
				font-weight: 900;
			}
			.price {
				font-weight: 600;
			}
			.flag {
				&:before {
					border-bottom-color: #0E306C;
				}
			}
		}
		> .group {
			position:relative;
			display: flex;
			align-items: center;
			width:100%;
			min-height:68px;
			padding: 7.335% 32% 6.725% 9.17%;
		}
		.name {
			color: #000;
			font-weight: 600;
			font-size: 1.125rem;
			@include FontHead;
		}
		.price {
			margin-left: 20px;
			color: #999;
			font-size: .875rem;
			@include FontHead;
		}
		.tag {
			position:absolute;
			top:50%;
			right:20px;
			@include transform(translate(0, -50%));
			margin-left: auto;
			padding: 1px 8px 3px;
			font-weight: 600;
			font-size: 12px;
			line-height: 20px;
			&.new {
				background-color: #E2E9FF;
				color: #0559F7;
			}
			&.popular {
				background-color: #F1E7F8;
				color: #7A4DF5;
			}
			&.best {
				background-color: #F8EADC;
				color: #FF9934;
			}
		}
		.flag {
			position:absolute;
			right:0;
			top:50%;
			@include transform(translate(0, -50%));
			padding:3px 12px 6px 17px;
			font-weight:600;
			font-size:12px;
			line-height:20px;
			@include FontHead;
			&:before {
				content:'';
				display:inline-block;
				position:absolute;
				left:-8px;
				top:0;
				border-bottom:29px solid #fff;
				border-right:8px solid transparent;
				border-left:8px solid transparent;
			}
			&.promotion {
				background-color:#FF8D34;
				color:#fff;
			}
		}
		.arrow {
			right:20px;
			@include iconAngle($direction: 'down', $width: 14px, $height: 7px, $thick: 2px, $color: #000, $display: inline-block, $position: absolute);
			display: none;
		}
	}
	.options_panel {
		.options_control {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.selected_sum {
				font-size: 1rem;
				line-height: 1.125rem;
				.currunt,
				span {
					font-size: inherit;
				}
				.currunt {
					color: #000;
					font-weight: 600;
				}
				span {
					color: #999;
				}
			}
			.btn_clear {
				display: flex;
				align-items: center;
				span {
					color: #000;
					font-size: 1rem;
					line-height: 1.5rem;
				}
			}
		}
		.selected_options {
			margin-top: 13px;
			padding-top: 19px;
			border-top: 3px solid #000;
			> li {
				&:not(:first-child) {
					margin-top: 12px;
				}
				> .group {
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: .875rem;
				}
			}
			// .ellipsis {
			// 	overflow: hidden;
			// 	text-overflow: ellipsis;
			// 	white-space: nowrap;
			// }
			.name {
				overflow: hidden;
				margin-right: 13px;
				color: #000;
				font-weight: 600;
				font-size: inherit;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.btn_delete {
				flex: 0 0 auto;
				position: relative;
				width: 14px;
				height: 14px;
				margin-right: auto;
				background-color: #d8d8d8;
				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					left: 50%;
					top: 50%;
					background-color: #fff;
				}
				&:before {
					width: 7.5px;
					height: 1.5px;
					@include transform(translate(-50%, -50%) rotate(45deg));
				}
				&:after {
					width: 1.5px;
					height: 7.5px;
					@include transform(translate(-50%, -50%) rotate(45deg));
				}
			}
			.price {
				flex: 0 0 auto;
				margin-left: 13px;
				color: #EA9000;
				font-weight: 600;
				font-size: inherit;
			}
		}
		.total_result {
			margin-top: 21px;
			padding-top: 16px;
			border-top: 1px solid #d9d9d9;
			> .group {
				display: flex;
				justify-content: space-between;
				&:not(:first-child) {
					margin-top: 5px;
				}
			}
			em,
			span {
				color: #000;
				font-size: .875rem;
			}
			span {
				flex-shrink: 0;
				text-align: right;
			}
			.total_desc {
				font-weight: 900;
				font-size: 1.125rem;
			}
			.total_price {
				color: #EA9000;
				font-weight: 900;
				font-size: 1.25rem;
			}
		}
	}
	.concierge_panel {
		> .title {
			padding-bottom: 11px;
			color: #000;
			font-size: 1rem;
			line-height: 1.4375rem;
			@include FontText;
		}
		.applied_list {
			padding-top: 18px;
			border-top: 3px solid #000;
			> li {
				color: #999;
				font-size: .875rem;
				line-height: 1.4375rem;
				&:not(:first-child) {
					margin-top: 18px;
				}
				&.applied {
					color: #000;
					font-weight: 600;
					.check {
						display: block;
					}
				}
				> .group {
					display: flex;
					justify-content: space-between;
					align-items: center;
					color: inherit;
					font-size: inherit;
					font-weight: inherit;
				}
				.check {
					display: none;
					position: relative;
					width: 18px;
					height: 18px;
					background-color: #000;
					border-radius: 100%;
					&:before {
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						width: 4px;
						height: 4px;
						border-left: 1.5px solid #fff;
						border-top: 1.5px solid #fff;
						transform: translate(-50%, -50%) rotate(225deg);
					}
				}
			}
		}
	}
	.color_panel {
		.select_color {
			> .group {
				&:not(:first-child) {
					margin-top: 30px;
					padding-top: 30px;
					border-top: 1px dotted #999;
				}
			}
			.option {
				display: flex;
				align-items: center;
			}
			.part {
				margin-right: auto;
				color: #000;
				font-weight: 900;
				font-size: 1.375rem;
			}
			.selected {
				color: #000;
				font-weight: 600;
				font-size: .875rem;
				line-height: 1.625rem;
			}
			.price {
				margin-left: 8px;
				color: #FF8D34;
				font-weight: 600;
				font-size: .875rem;
				line-height: 1.5rem;
			}
			.color_chips {
				margin-top: 20px;
			}
		}
		.estimated_date {
			position: relative;
			margin-top: 60px;
			padding: 18px 25px 20px 112px;
			border: 1px solid #d9d9d9;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 25px;
				top: 50%;
				width: 62px;
				height: 62px;
				margin-top: -31px;
				background: {
					image: url(../images/ico/icon_delivery.png);
					size: cover;
					repeat: no-repeat;
				};
			}
			.msg {
				color: #777;
				font-size: .875rem;
			}
			.day {
				margin-top: 5px;
				color: #000;
				font-weight: 900;
				font-size: 1rem;
			}
		}
		.popular_color {
			margin-top: 30px;
			> .group {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.most_color {
				color: #000;
				font-weight: 600;
			}
			.btn_more {
				position: relative;
				width: 10px;
				height: 10px;
				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					background-color: #000;
				}
				&:before {
					left: 50%;
					top: 0;
					width: 2px;
					height: 10px;
					margin-left: -1px;
				}
				&:after {
					left: 0;
					top: 50%;
					width: 10px;
					height: 2px;
					margin-top: -1px;
				}
			}
			.bar {
				display: flex;
				margin-top: 15px;
				height: 25px;
				background-color: #f4f4f4;
				.color,
				.percent {
					display: flex;
					align-items: center;
					height: 100%;
					padding-left: 10px;
					font-weight: 600;
					font-size: .875rem;
				}
			}
		}
	}
}

.color_chips {
	.color_list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-top: -14px;
		li {
			position: relative;
			display: block;
			-webkit-box-flex: 0;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			margin: 14px 14px 0 0;
			&:last-child {
				margin-right:0;
			}
		}
		.color_select {
			position:relative;
			width:35px;
			height:35px;
			border-radius: 100%;
			background: {
				size:cover;
				position:center center;
				repeat: no-repeat;
			}
			overflow: hidden;
			&[aria-selected='true'] {
				&:after {
					content: '';
					display: block;
					position:absolute;
					left:0;
					top:0;
					display: block;
					width:100%;
					height:100%;
					background: {
						image: url(../images/ico/icon_color_selected.png);
						size:20px;
						position:center center;
						repeat: no-repeat;
					}
					z-index: 1;
				}
			}
			&.unable {
				&:after {
					content: '';
					display: block;
					position:absolute;
					left:0;
					top:0;
					display: block;
					width:100%;
					height:100%;
					background: {
						image: url(../images/ico/icon_unable_selection.png);
						size:cover;
						position:center center;
						repeat: no-repeat;
					}
					z-index: 1;
				}
			}
		}
	}
}

@media screen and (min-width:1024px) and (max-width:1600px){
	.build_menu {
		.menu_panel {
			padding: 0 10.425% 13.1%;
		}
	}
	.build_option  {
		.trims_control {
			button {
				&:not(:first-child) {
					margin-left:8px;
				}
				span {
					font-size: 0.75rem;
				}
			}
		}
		.trims_item {
			.name {
				font-size:0.875rem;
			}
			.price {
				margin-left:10px;
			}
			> .group {
				display: block;
				text-align: left;
			}
			.price {
				display: block;
				margin-left:0;
			}	
		}
	}
}
@media screen and (min-width:1024px) and (max-width:1440px){
	.build_option {
		.trims_item {
			> .group {
				display: block;
				text-align: left;
			}
		}
	}
}


@media screen and (max-width:1024px){
}
.pg-mobile {
	.build_vehicles {
		padding:0;
		// border-bottom:1px solid #D9D9D9;
		.vehicles-head {
			max-width:100%;
			padding:10px 20px;
			margin-bottom:0;
			h2 {
				font-size:1.857rem;
			}
		}
		.vehicles-model {
			margin-left:5px;
			.v_item {
				border:0;
				button {
					position:relative;
					padding:13px 15px;
					font-weight: normal;
					&[aria-selected="true"] {
						background-color:#fff;
						color:#0E306C;
						&:after {
							content:'';
							position:absolute;
							bottom:-1px;
							left:0;
							display: block;
							width:100%;
							height:4px;
							background-color: #0E306C;
						}
					}
				}
			}
		}
		.vehicles_util {
			position:relative;
			width:100%;
			height:60px;
			background-color: #F4F4F5;
			text-align: right;
			.btn_find {
				padding:0 20px;
				font-size:1.143rem;
				font-weight: 600;
				line-height:3.6;
			}
		}
	}
	//.build_vehicles

	.build_option {
		.item {
			display: none;
			padding-top:0;
			&._active {
				display: block;
				.menu_head {
					padding-top:10px;
					.opt_title {
						font-size:1.857rem;
					}
				}
			}
		}
		.menu_head {
			padding: 10px 20px 20px;
			min-height:auto;
			.heading {
				position:relative;
				top:inherit;
				@include transform(translate(0, 0));
				.trim_cnt {
					position:absolute;
					right:0;
					top:6px;
					margin-top:0;
					font-size: 1rem;
				}
			}
			.opt_title {
				&:before {
					content: '';
					display: inline-block;
					width:15px;
					height:24px;
					margin-right:8px;
					background: {
						image: url(../images/ico/m-icon_pageback.png);
						size: cover;
						repeat:no-repeat;
						position:center center;
					}
					vertical-align: middle;
				}
			}
		}
		.menu_panel {
			padding:0;
			max-height:inherit;
		}
		.trims_control {
			margin-bottom:0;
			button {
				border-left:0;
				border-right:0;
				&:not(:first-child) {
					margin-left:0;
					border-left:1px solid #d9d9d9;
				}
			}
		}
		.trims_list {
			padding:20px;
			.trims_item {
				&._active {
					display: block;
				}
				> .group {
					padding:24px 100px 22px 30px;
				}
			}
			&._pulldown {
				padding:0;
				.trims_item {
					display: none;
					&:not(:first-child) {
						margin-top:0;
					}
					&._active {
						display: block;
						background-color: #fff;
						.name, .price {
							color:#000;
						}
						.group {
							min-height:inherit;
							padding:19px 20px;
						}
						.tag {
							position:relative;
							right:inherit;
							top:inherit;
							margin-left:10px;
							@include transform(translate(0, 0));
						}
						.arrow {
							display: block;
						}
						.flag {
							position:relative;
							right:inherit;
							top:inherit;
							margin-left:10px;
							@include transform(translate(0, 0));
							&:before {
								border-bottom-color: #fff;
							}
						}
					}
				}
			}
		}
	}
	//.build_option
	.product_container {
		.product_mask {
			margin-left:0;
		}
	}
	.product {
		float:none;
		width:100%;
		margin-left:0;
	}
}
//.pg-mobile 

