@charset "utf-8";

@import "mixins";

.build_vehicles {
	padding:13.365% 13.365%;
	
	.vehicles-head {
		max-width:190px;
		margin-bottom:40px;
		h2 {
			font-size:2.5rem;
			font-weight: 900;
		}
	}

	.vehicles-model {
		.v_item {
			margin-bottom:15px;
			border:1px solid #D9D9D9;
			&:last-child {
				margin-bottom:0;
			}
			button {
				width:100%;
				height:100%;
				padding:7.3% 9% 7.2%;
				font-size:1.125rem;
				font-weight:600;
				text-align: left;
				&:active {
					background-color: #0E306C;
					color:#fff;
				}
				&[aria-selected="true"] {
					background-color: #0E306C;
					color:#fff;
				}
			}
		}
	}
}

.build_option {
	.item {
		border-bottom:1px solid #D9D9D9;
	}
	.trim_item {
		&[data-status="expanded"] {
			padding-top:50px;
		}
	}
	.acco_head {
		position:relative;
		min-height:111px;
		.acco_target {	
			position:absolute;
			top:50%;
			@include transform(translate(0, -50%));
			padding:0 3.75rem;
			width:100%;
			i {
				right:3.75rem;
			}
		}
		
		&[aria-expanded="true"] {
			.acco_target {
				i {display: none;}
				.trim_cnt {display: block;}
			}
			.opt_title {
				font-size:2.5rem;
				font-weight: 900;
				color:#000;
			}
			.opt_summary {
				display: none;
			}
		}
	}
	.opt_title {
		font-size:1.625rem;
		color:#999999;
	}
	.opt_summary {
		display: block;
		margin-top:5px;
		@include FontText();
		font-size: 0.875rem;
		font-weight: 600;
		span {
			font-size: inherit;
			font-weight: inherit;
			font-family: inherit;
		}
	}
	.trim_cnt {
		display: none;
		margin-top:25px;
		@include FontText();
		color:rgba(0,0,0, .5);
		em {
			color:#000;
			font-weight: 600;
			font-size:inherit;
		}
	}
	.acco_panel {
		padding:0 3.75rem 3.75rem;
	}
	.trims_control {
		display: flex;
		margin-bottom: 10px;
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1;
			height: 50px;
			border: 1px solid #d9d9d9;
			background-color: #f4f4f4;
			&:not(:first-child) {
				margin-left: 10px;
			}
			span {
				color: #000;
				@include FontText;
				font-weight: 600;
				font-size: .875rem;
			}
		}
	}
	.trims_item {
		border: 1px solid #d9d9d9;
		cursor: pointer;
		&:not(:first-child) {
			margin-top: 10px;
		}
		&[aria-selected="true"] {
			border: 0;
			background-color: #0E306C;
			box-shadow: 8px 8px 40px rgba(0,0,0,.2);
			.name,
			.price {
				color: #fff;
			}
			.name {
				font-weight: 900;
			}
			.price {
				font-weight: 600;
			}
			.flag {
				&:before {
					border-bottom-color: #0E306C;
				}
			}
		}
		> .group {
			display: flex;
			align-items: center;
			padding: 22px 20px 24px 30px;
		}
		.name {
			color: #000;
			font-weight: 600;
			font-size: 1.125rem;
		}
		.price {
			margin-left: 20px;
			color: #999;
			font-size: .875rem;
		}
		.tag {
			margin-left: auto;
			padding: 1px 8px 3px;
			font-size: 12px;
			line-height: 20px;
			@include FontText;
			&.new {
				background-color: #E2E9FF;
				color: #0559F7;
			}
			&.popular {
				background-color: #F1E7F8;
				color: #7A4DF5;
			}
			&.best {
				background-color: #F8EADC;
				color: #FF9934;
			}
		}
		.flag {
			position: relative;
			margin: 0 -20px 0 auto;
			padding:3px 12px 6px 17px;
			font-weight:600;
			font-size:12px;
			line-height:20px;
			&:before {
				content:'';
				display:inline-block;
				position:absolute;
				left:-8px;
				top:0;
				border-bottom:29px solid #fff;
				border-right:8px solid transparent;
				border-left:8px solid transparent;
			}
			&.promotion {
				background-color:#FF8D34;
				color:#fff;
			}
		}
	}
}


@media screen and (max-width:1024px){
}
.pg-mobile {
	.build_vehicles {
		padding:0;
		border-bottom:1px solid #D9D9D9;
		.vehicles-head {
			max-width:100%;
			padding:10px 20px;
			margin-bottom:0;
			h2 {
				font-size: 1.429rem;
			}
		}
		.vehicles-model {
			margin-left:5px;
			.v_item {
				border:0;
				button {
					padding:13px 15px;
					font-weight: normal;
					&[aria-selected="true"] {
						background-color:#fff;
						color:#0E306C;
						&:after {
							content:'';
							position:absolute;
							bottom:0;
							left:0;
							display: block;
							width:100%;
							height:4px;
							background-color: #0E306C;
						}
					}
				}
			}
		}
	}
	//.build_vehicles

	.build_option {
		.item {
			padding-top:0;
			&[data-status="disabled"] {
				display: none;
			}
		}
		.acco_head {
			min-height:62px;
			&[aria-expanded="true"] {
				.opt_title {
					font-size:1.857rem;
				}
			}
			.acco_target {
				position:relative;
				top:inherit;
				@include transform(translate(0, 0));
				padding: 10px 20px 20px;
				.trim_cnt {
					position:absolute;
					right:20px;
					top:18px;
					margin-top:0;
					font-size: 1rem;
				}
			}
			.opt_title {
				&:before {
					content: '';
					display: inline-block;
					width:15px;
					height:24px;
					margin-right:8px;
					background: {
						image: url(../images/ico/m-icon_pageback.png);
						size: cover;
						repeat:no-repeat;
						position:center center;
					}
					vertical-align: middle;
				}
			}
		}
		.acco_panel {
			padding:0;
		}
	}
	//.build_option
}
//.pg-mobile 

