@charset "utf-8";
@import "mixins";

/** common/component **/
/** checkbox/radio **/
.chkwrap {
	display: inline-block;
	min-height:30px;
	margin-right:40px;
  input[type=checkbox] {
    display:none;
    & + label {
      display: inline-block;
			position:relative;
			height:30px;
			line-height: 30px;
			padding-left: 30px;
			cursor: pointer;
			font-size:1.125rem;
      background: {
				image: url('../images/common/btn_check.png');
				repeat: no-repeat;
				size:20px;
				position: left center;
      }
      vertical-align: middle;
			+ span {
				color:inherit;
				font-size: inherit;
			}
    }
    &:checked + label {
      background-image: url('../images/common/btn_check-on.png');
    }
		&:disabled + label {
			color:#999999;
      background-image: url('../images/common/btn_check-disable.png');
			span {
				color:#999999;
			}
		}
  }
}
.radiowrap {
	display: inline-block;
	min-height:30px;
	margin-right:40px;
  input[type=radio] {
    display:none;
    & + label {
      display: inline-block;
			position:relative;
			// height:30px;
			// line-height: 30px;
			padding: 5px 0 5px 30px;
			cursor: pointer;
			font-size:1.125rem;
      background: {
				image: url('../images/common/btn_radio.png');
				repeat: no-repeat;
				size:20px;
				position: left center;
      }
      vertical-align: middle;
			+ span {
				color:inherit;
				font-size: inherit;
			}
    }
    &:checked + label {
      background-image: url('../images/common/btn_radio-on.png');
    }
		&:disabled + label {
			color:#999999;
			background-image: url('../images/common/btn_radio-disable.png');
			span {
				color:#999999;
			}
		}
  }
}


/** tab **/
.tablist {
	display: flex;
	&:not(._line) {
		li {
			&:not(:first-child) {
				margin-left: -1px;
			}
			.tab {
				&[aria-selected="true"]:before {
					content: '';
					display: block;
					position: absolute;
					left: -1px;
					top: -1px;
					bottom: -1px;
					right: -1px;
					z-index: -1;
					background-color: #0E306C;
				}
			}
		}
	}
	li {
		flex: 1;
		border: 1px solid #D9D9D9;
		height: 50px;
		line-height:50px;
		text-align: center;
		.tab {
			display: block;
			position: relative;
			min-width: 100%;
			height:100%;
			background-color:#fff;
			color: #999;
			font-size: 1rem;
			@include FontText();
			cursor: pointer;
			&:after {
				display: none;
			}
			
			&[aria-selected="true"] {
				position: relative;
				z-index: 1;
				color:#fff;
				font-weight:900;
				&:after {
					display: none;
				}
				.current {
					color: #fff;
				}
			}
			.current {
				color: #999;
				font-size: 13px;
				vertical-align: middle;
			}
		}
	}
	&._line {
		display: block;
		li {
			display: inline-block;
			height: auto;
			border: 0;
			line-height:60px;
			.tab {
				min-width: 140px;
				height:60px;
				padding:0 25px;
				background-color: transparent;
				border:0;
				border-bottom:4px solid #D9D9D9;
				color:#999999;
				font-size:1.375rem;
				&[aria-selected="true"] {
					border-color:#0E306C;
					color:#0E306C;
					&:hover {
						font-weight: 900;
					}
				}
				&:hover {
					font-weight: normal;
				}
			}
		}
	}
}
.tab_contents {
	clear: both;
	outline: none;
	border: 0;
	.tab_panel {
		&[aria-hidden="true"] {
			display: none;
		}
		outline: none;
	}
}
.radio_tablist {
	display: flex;
	li {
		flex:1;
		margin-right:15px;
		&:last-child {
			margin-right:0;
		}
	}
	.radiowrap {
		min-width:100%;
		height:78px;
		padding:0 25px;
		margin-right:0;
		border:2px solid #D9D9D9;
		line-height:1;
		text-align:left;
		&[aria-selected="true"] {
			background-color:#fff;
			border-color: #285BEE;
			label {
				color: #0559F7;
				font-weight: 600;
				span {
					color:inherit;
					font-size:1rem;
				}
			}
		}
		input[type=radio] {
			margin-right:30px;
			color:#999999;
			& + label {
				display: inline-block;
				width:100%;
				height:78px;
				line-height:78px;
				padding:0 0 0 40px;
				font-family: 'HyundaiSansText';
				font-size:1.571rem;
				color:#999999;
				background-size:30px;
				span {
					font-size:1rem;
				}
			}
			&:checked + label { 
				color: #0559F7;
			}
		}
	}
	&._type02 {
		margin-bottom:30px;
		li {
			flex:none;
			margin-right:5%;
		}
		.radiowrap {
			padding:0;
			height:auto;
			min-height:inherit;
			border:none;
			background-color: transparent;
			
			input[type=radio] {
				margin-right:15px;
				+ label {
					padding:5px 0 5px 30px;
					height:inherit;
					line-height:inherit;
					font-size:1rem;
					font-weight: normal;
					color:#000000;
					background-size:20px;
				}
			}
			&[aria-selected="true"] {
				label {
					color:#000000
				}
			}
		}
	}
}
.radio-tab_contents {
	clear: both;
	outline: none;
	border: 0;
	.tab_panel {
		display: block;
		&[aria-hidden="true"] {
			display: none;
		}
		outline: none;
	}
}

/** accordion **/
.accordion_wrap {
	.item {
		box-sizing: content-box;
		overflow: hidden;
	}
	.acco_head {
		display: block;
		text-decoration: none;
		outline: 0;
		cursor: pointer;
		.acco_target {
			display:block;
			position:relative;
			padding: 20px 0;
			i {
				top:50%;
				right:0;
				margin-top:-6px;
				@include iconAngle($direction: 'down', $width: 14px, $height: 7px, $thick: 1px, $color: #999999, $display: inline-block, $position: absolute);
			}
		}
		&[aria-expanded="true"] {
			.acco_target i {@include rotate(180);}
		}
	}
	[data-status="disabled"] .acco_panel{
		display: none;
	}
	.acco_panel {
		outline: 0;
		&[aria-hidden="true"] {
			display: none;
		}
		.tbl_default { 
			border-top-width:1px;
			padding-bottom:40px;
			margin:0;
		}
	}
}

.build_menu {
	.item {
		position:relative;
		box-sizing: content-box;
		overflow: hidden;
		&._active {
			.menu_panel{
				display: block;
			}
		}
	}
	.menu_head {
		display: block;
		min-height:60px;
		padding: 6.69% 13.36%;
		text-decoration: none;
		outline: 0;
		cursor: pointer;
		.heading {
			display:block;
			position:relative;
			i {
				top:50%;
				right:13.36%;
				margin-top:-6px;
				@include iconAngle($direction: 'down', $width: 14px, $height: 7px, $thick: 1px, $color: #999999, $display: inline-block, $position: absolute);
			}
		}
		&[aria-expanded="true"] {
			.heading i {@include rotate(180);}
		}
	}
	.menu_panel {
		outline: 0;
		// padding: 0 13.36% 12%;
		padding: 0 12% 12%;
		.tbl_default {
			border-top-width:1px;
			padding-bottom:40px;
			margin:0;
		}
	}
}

/** button **/
.btn-type_wrap {
	display: block;
	width: 100%;
	text-align: center;
}
a, button {
	&.btn-type {
		display: inline-block;
		width:auto;
		min-width:100px;
		padding:0 10px;
		height: 65px;
		line-height: 64px;
		font-size:1.375rem;
		font-weight: 600;
		@include FontHead();
		&._default {
			background-color: #0E306C;
			color:#fff;
		}
		&._cancel {
			background-color: #CCCCCC;
			color:#fff;
		}
		&._line {
			border:1px solid #D9D9D9;
		}
		&._highlight {
			border:2px solid #0E306C;
			color: #0E306C;			
			line-height: 3.938rem; //63px;
		}
	}
}

/** icon **/
[class*='ic_'] {
	display: inline-block;
	margin-right:5px;
	vertical-align: middle;
}
.ic_loca {
	width:16px;
	height:16px;
	background: {
		image: url(../images/ico/icon_location.png);
		size:10px;
		position: center center;
		repeat:no-repeat;
	}
}
.ic_hide {
	width:18px;
	height:18px;
	background: {
		image: url(../images/ico/icon_hide.png);
		size:cover;
		position: 0 center;
		repeat:no-repeat;
	}
}
.ic_show {
	width:18px;
	height:18px;
	background: {
		image: url(../images/ico/icon_show.png);
		size:cover;
		position: 0 center;
		repeat:no-repeat;
	}
}
.ic_error {
	width:18px;
	height:18px;
	background: {
		color:#fff;
		image: url(../images/ico/icon_error.png);
		size:cover;
		position: 0 center;
		repeat:no-repeat;
	}
}
.ic_compare {
	width:20px;
	height:20px;
	background: {
		image: url(../images/ico/icon_compare.png);
		size:cover;
		position: 0 center;
		repeat:no-repeat;
	}
}
.ic_outlink {
	width:20px;
	height:20px;
	background: {
		image: url(../images/ico/icon_outlink.png);
		size:cover;
		position: 0 center;
		repeat:no-repeat;
	}
}
.ic_refresh {
	width:15px;
	height:15px;
	background: {
		image: url(../images/ico/icon_refresh.png);
		size:cover;
		position: 0 center;
		repeat:no-repeat;
	}
}
.ic_search {
	width:20px;
	height:20px;
	background: {
		image: url(../images/ico/icon_search.png);
		size:cover;
		position: 0 center;
		repeat:no-repeat;
	}
}
.ic_info {
	width:20px;
	height:20px;
	background: {
		image: url(../images/ico/icon_info.png);
		size:cover;
		position: 0 center;
		repeat:no-repeat;
	}
}
.ic_info-select {
	width:20px;
	height:20px;
	background: {
		image: url(../images/ico/icon_info-select.png);
		size:cover;
		position: 0 center;
		repeat:no-repeat;
	}
}
.ic_check {
	width:20px;
	height:20px;
	background: {
		image: url(../images/ico/icon_check.png);
		size:cover;
		position: 0 center;
		repeat:no-repeat;
	}
}

/* layer popup */
.h-layer_body {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .9);
	&.h-layer_full {
		top:inherit;
		bottom:0;
		background-color: transparent;
		.h-layer_wrap {
			width:100%;
			height:100%;
		}
		.h-layer_head .h-layer_title {
			height:70px;
			padding:23px 30px;
			text-align:left;
		}
		.h-layer_cont {
			height:calc(100% - 70px);
			padding:20px 30px;
		}
		.h-layer_close {
			top:27px;
			right:32px;
		}
	}
	&.h-layer_wide {
		.h-layer_wrap {
			max-width:100%;
			width:100%;
			border-radius: 0;
		}
		.h-layer_head .h-layer_title{
			border-bottom:1px solid #e1e1e1;
		}
	}
}
.h-layer_wrap {
	position: absolute;
	z-index: 10;
	top:50%;
	left:50%;
	width: 670px;
	max-height: 80%;
	background-color: #fff;
	opacity: 0;
	@include transform(translate(-50%, -50%));
	-webkit-transition: visibility 0.2s 0.1s, opacity 0.2;
	-moz-transition: visibility 0.2s 0.1s, opacity 0.2;
	-ms-transition: visibility 0.2s 0.1s, opacity 0.2;
	-o-transition: visibility 0.2s 0.1s, opacity 0.2;
	transition: visibility 0.2s 0.1s, opacity 0.2;
	overflow: hidden;
	.h-layer_head {
		position:relative;
		min-height:60px;
		padding:20px 25px;
		background-color: #fff;
		border-bottom:1px solid #D9D9D9;
		.h-layer_title {
			font-size:1.875rem;
			font-weight: 900;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	.h-layer_close {
		position:absolute;
		top: 25px;
		right: 25px;
		width:20px;
		height:20px;
		background: {
			image: url(../images/ico/btn_popclose.png);
			size:1.063rem;
			repeat: no-repeat;
			position: center center;
		}
		border: 0;
		text-indent:-9999px;
	}
	.h-layer_cont{
		position:relative;
		width: 100%;
		max-height: 70vh;
		padding: 40px 50px 0;
		font-size:1.125rem;
		line-height:1.4;
		overflow-y: scroll;
		z-index: 11;
		@include FontText();
		> *:first-child {
			margin-top: 0;
		}
		> *:last-child {
			margin-bottom: 0;
		}
		&._center {
			text-align: center;
		}
		&:after {
			content: '';
			display: block;
			height: 50px;
		}
		// p, strong {
		// 	font-family: inherit;
		// 	font-size:inherit;
		// 	line-height:inherit;
		// }
		.in_tit {
			margin-bottom:15px;
			font-size:1.875rem;
			font-weight: 900;
		}
		.frm_field {
			.frm:not(:first-child) {
				margin-top: 30px;
			}
			&.field_half {
				.frm:nth-child(2) {
					margin-top: 0;
				}
			}
		}
	}

	.btn-type_wrap {
		// width: 100%;
		// margin-top:40px;
		width: 510px;
		margin: 40px auto 0;
		display: flex;
		.btn-type {
			flex: 1;
			margin-right:10px;
			font-size: 1.375rem;
			line-height: 67px;
			&:last-child {
				margin-right:0;
			}
		}
	}
	&._alert {
		width:450px;
		.h-layer_head {
			border-bottom:0;
		}
		.h-layer_cont {
			padding-top:15px;
			text-align:center;
		}
	}
	&._wide {
		width:950px;
	}
}
.h-layer_body.is-visible {
	visibility: visible;
	.h-layer_wrap {
		opacity: 1;
	}
	&[role="dialog"]{
		display: block;
	}
}
.h-layer_foo.btn_wrap {
	&._fixed {	
		z-index:101;
	}
}

/* form field(input) */
.required {
	&::before {
		content:'*';
		display:inline-block;
		color:#0559F7;
		line-height:1;
		vertical-align:middle;
	}
}
.frm_field {
	&:after {
		@extend %clearer;
	}
	dt {
		font-weight: 900;
		label {
			font-weight: inherit;
		}
	}
	dd {
		position:relative;
		margin-top:10px;
		font-family: inherit;
	}
	.warn + [class*='ic_']{
		position:absolute;
		right:20px;
		top:16px;
		z-index:1;
	}
	.inp_txt {
		margin-top:10px;
		font-size:0.875rem;
		font-family: inherit;
		text-align: left;
		&.warn {
			color:#E80710;
		}
		&.succ {
			color:#0559F7;
		}
	}
	.btn-type {
		height: 50px;
		line-height:50px;
		font-weight: 600;
		font-size:1rem;
	}
	.frm {
		&:not(:first-child) {margin-top: 40px;}
		._mix {
			display:flex;
			flex-wrap:wrap;
			input,
			select {
				flex: .6;
			}
			button {
				flex: .4;
				margin-left:10px;
			}
			input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not(:first-child),
			select:not(:first-child) {
				margin-left: 10px;
			}
			.warn + [class*='ic_']{
				right:calc(20% + 20px);
			}
			.masking {
				display: inherit;
				width:100%;

				.warn + [class*='ic_']{
					right:calc(40% + 10px);
				}
				.btn_masking {
					right:calc(40% + 10px);
				}
			}
		}
		&.length_limit {
			.counting {
				position: absolute;
				right: 0;
				top: -30px;
				color: #000;
				font-size: 1rem;
			}
		}
	}
	&.field_half {
		.frm {
			float:left;
			width:calc((100% / 2) - 5px);
			margin-right:10px;
			&:nth-child(2) {margin-top: 0;}
			&:nth-child(2n) {
				margin-right: 0;
			}
			&:nth-child(2n+1) {
				clear: left;
			}
		}
	}
}

/* dropdown */
.dropdown_list {
	display: inline-block;
	position: relative;
	min-width:100%;
	input[type="checkbox"], input[type="radio"] {
		position: absolute;
		overflow: hidden;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		clip: rect(0, 0, 0, 0);
		border: 0;
		border-radius: 0;
		background: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;
		opacity: 0;
		color:#000;
	}
	.dropdown_value {
		position: relative;
		input[type="text"] {
			width: 100%;
			background-color: #fff;
			color:#000;
		}
		.btn_opener {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			border: 0;
			background-color: rgba(255, 255, 255, 0);
			cursor: pointer;
			i {
				top:50%;
				right:20px;
				margin-top:-2px;
				@include iconAngle($direction: 'down', $width: 14px, $height: 7px, $thick: 2px, $color: #000, $display: inline-block, $position: absolute);
			}
			&.show i {
				@include iconAngle($direction: 'up', $width: 14px, $height: 7px, $thick: 2px, $color: #000, $display: inline-block, $position: absolute);
			}
		}
	}
	.item_box {
		display: none;
		position: absolute;
		top: 49px;
		left: 0;
		z-index: 10;
		width: 100%;
		border: 1px solid #D9D9D9;
		background-color: #fff;
		padding:20px 50px 50px;
		&.active {
			display: block;
		} 
	}
	.search_box {
		position:relative;
		input[type=text] {
			padding-right:40px;
			border:0;
			border-bottom:2px solid #000;
		}
		.btn_search {
			position:absolute;
			right:0;
			top:50%;
			width:50px;
			@include transform(translate(0, -50%));
			
		}
	}
	.item_list {
		display: none;
		position: absolute;
		top: 49px;
		left: 0;
		z-index: 10;
		width: 100%;
		border: 1px solid #D9D9D9;
		background-color: #fff;
		&.active {
			display: block;
		}
		a, button, input[type="radio"]+label {
			display: block;
			width: 100%;
			height: 50px;
    	padding: 9px 10px;
			line-height:32px;
			border: 0;
			background: transparent;
			text-align: left;
			cursor: pointer;
		}
		a:not(.btn_search), button:not(.btn_search), input[type="radio"]+label {
			&:hover, &:active, &:focus {
				background-color: #000;
				color:#fff;
			}
		}
	}
	.list_box {
		overflow-y: auto;
		max-height: 190px;
		margin-top: 30px;
		[role="option"] {
			font-size: 1rem;
			line-height: 2.125rem;
			@include ellipse(1);
		}
	}
}
.dropdown_list .item_list input[type="radio"]:focus+label {
	background: #aaa
}
.dropdown_list .item_list input[type="radio"]+label:before {
	display: none
}
.dropdown_list .item_list input[type="radio"]:disabled+label {
	background: #FAFAFA;
	color: #999
}
.dropdown_list.active .item_list {
	display: block
}

@media screen and (max-width:1024px){
}
.pg-mobile {
	[class*='ic_'] {
		margin-right:0;
	}
	.ic_loca {
		background-size: cover;
	}
	/** tab pagination **/
	.tab-pagination {
		position: relative;
		width: 100%;
		max-height: 45px;
		overflow: hidden;

		.tab-row {
			display: flex;
			padding-bottom: 20px;
			padding-left: 0;
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
		}
		p {
			flex: none;
			float: left;
			width: auto;
			height: auto;
			margin: 0 20px 0 0 !important;
			border-radius: 0;
			background-color: #fff;
			opacity: 1;
			white-space: nowrap;
			cursor: pointer;
			outline: none;
			span {
				display: block;
				padding-bottom: 10px;
				font-size: 1rem;
				font-weight: 350;
				line-height: 1;
				color: #999999;
				text-transform: uppercase;
			}
			&.active {
				span {
					margin-top: -2px;
					&:after {
						content: '';
						margin-top: 4px;
						display: block;
						width: 100%;
						height: 2px;
						background-color: rgba(21, 144, 224, 0.89);
					}
				}
			}
		}
		a {
			display: inline-block;
		}
	}

	.frm_field {
		&.field_half {
			.frm {
				float:none;
				width:100%;
				margin-right:0;
				&:nth-child(2) {
					margin-top:40px;
				}
			}
		}
		.frm {
			._mix {
				display: block;
				text-align: right;
				.warn {
					& + [class*='ic_'] {
						right:20px;
					}
				}
				input, select {
					flex: none;
				}
				button {
					flex: none;
					margin-top:6px;
					margin-left:0;
					padding-left:1.643rem;
					padding-right:1.643rem;
				}
			}
		}
	}
}