@charset "utf-8";

@import "global";
@import "mixins";

.product_container {
	max-width:1150px;
	margin:0 auto;
	.product_mask {
		margin-left:-35px;
		padding:100px 0;
		&:after {
			@extend %clearer;
		}
	}
}
.product {
	float:left;
	width:calc(100% / 3 - 35px);
	margin-left:35px;
	padding-bottom:35px;
	background-color:#fff;
	cursor:pointer;
	&[aria-selected="true"] {
		box-shadow:8px 8px 40px rgba(0,0,0,.16);
		.product_bottom {
			.btn-type {
				border:0;
				background-color:#0E306C;
				color:#fff;
				font-weight:600;
				&:before {
					border-color:#fff;
				}
			}
		}
	}
	&:nth-child(3n) {
		margin-right:-3px;
	}
	&:nth-child(3n) ~ .product {
		margin-top:20px;
	}
	.product_head {
		position:relative;
		padding:15px 15px 0;
		.product_tag {
			display:inline-block;
			padding:0 8px 3px;
			font-weight:600;
			font-size:12px;
			line-height:20px;
			&.new {
				background-color:#EAEFFD;
				color:#327FD9;
			}
			&.popular {
				background-color:#F1E7F8;
				color:#8D64FC;
			}
		}
		.product_flag {
			display:inline-block;
			position:absolute;
			right:-8px;
			top:15px;
			padding:0 12px 3px 17px;
			font-weight:600;
			font-size:12px;
			line-height:20px;
			@include FontHead;
			&:before {
				content:'';
				display:inline-block;
				position:absolute;
				left:-8px;
				top:0;
				border-bottom:23px solid #fff;
				border-right:8px solid transparent;
				border-left:8px solid transparent;
			}
			&.promotion {
				background-color:#FF8D34;
				color:#fff;
			}
		}
	}
	.product_img {
		margin-top:60px;
		padding:0 20px;
		> img {
			width:100%;
		}
	}
	.product_name {
		display:flex;
		justify-content:space-between;
		align-items:flex-end;
		margin-top:25px;
		padding:0 35px;
		h3 {
			color:#000;
			font-weight:900;
			font-size:1.75rem;
			@include FontHead;
			span {
				display:block;
				color:#888;
				font-size:0.875rem;
				line-height:1.25rem;
			}
		}
		.product_more {
			position:relative;
			padding-right:25px;
			color:#000;
			font-size: 0.875rem;
			line-height:1.25rem;
			&:before {
				content:'';
				display:block;
				position:absolute;
				right:0;
				top:0;
				width:20px;
				height:20px;
				background: {
					image:url(../images/ico/icon_outlink.png);
					size:cover;
					position:0 center;
					repeat:no-repeat;
				};
			}
		}
	}
	.product_price {
		margin-top:15px;
		padding:0 35px;
		&:after {
			@extend %clearer;
		}
		> .group {
			float:left;
			width:50%;
			padding:10px 0 0 24px;
			border-top:1px solid #d9d9d9;
			&:first-child {
				border-right:1px solid #d9d9d9;
			}
			> span {
				color:#888;
				font-size:0.875rem;
				line-height:1.25rem;
			}
			> em {
				display: block;
				color:#000;
				font-weight:600;
				font-size:1.125rem;
				line-height:1.75rem;
			}
		}
	}
	.product_bottom {
		margin-top:15px;
		padding:0 35px;
		.btn-type {
			display:block;
			position:relative;
			height:50px;
			padding: 0 0 0 31px;
			color:#999;
			font-weight: normal;
			font-size:0.875rem;
			line-height:50px;
			@include FontHead;
			&:before {
				content:'';
				display:block;
				position:absolute;
				right:25px;
				top:50%;
				width:10px;
				height:10px;
				margin-top:-5px;
				border-left:2px solid #999;
				border-top:2px solid #999;
				@include rotate(135);
			}
		}
	}
}
.build_container {
	min-height: 100%;
	padding-top: 54px;
	background-color: #fff;
	.content_wrap {
		max-width: 1200px;
		margin: 0 auto;
		> .tab_wrap {
			text-align: center;
		}
		> .group {
			padding-bottom: 114px;
		}
	}
	.content_title {
		margin-bottom: 6px;
		color: #000;
		font-weight: 900;
		font-size: 2.5rem;
		line-height: 3.125rem;
		@include FontHead;
	}
	.content_desc {
		margin-bottom: 40px;
		color: #000;
		font-size: 1rem;
		line-height: 1.5rem;
	}
	.content_info {
		margin-top: 40px;
		padding-top: 18px;
		border-top: 1px dashed #999;
		.msg_info {
			color: #999;
			font-size: 0.875rem;
			line-height: 1.375rem;
		}
		.bullet_square {
			> li {
				color: #999;
				font-size: 0.875rem;
				line-height: 1.375rem;
				&:before {
					top: 9px;
					width: 2px;
					height: 2px;
					background-color: #999;
				}
			}
		}
		.bullet_square:not(ul):not(ol) {
			color: #999;
			font-size: 0.875rem;
			line-height: 1.375rem;
			&:before {
				top: 9px;
				width: 2px;
				height: 2px;
				background-color: #999;
			}
		}
	}
}
.trims {
	max-width: 1200px;
	margin: 0 auto;
	&:after {
		@extend %clearer;
	}
	.front {
		float: left;
		width: 68.75%;
		.car_img {
			margin-top: 80px;
			img {
				width: 100%;
			}
		}
		.features {
			margin-top: 15px;
			text-align: center;
			.list {
				display: inline-flex;
				li {
					display: flex;
					align-items: center;
					color: #000;
					font-weight: 600;
					font-size: 1.625rem;
					&:not(:first-child) {
						position: relative;
						margin-left: 32px;
						padding-left: 32px;
						&:before {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							top: 50%;
							height: 20px;
							margin-top: -10px;
							border-left: 1px dashed #999;
						}
					}
				}
				[class^="ico_"] {
					display: inline-block;
					width: 35px;
					height: 35px;
					margin-right: 10px;
				}
				span {
					color: inherit;
					font-weight: inherit;
					font-size: inherit;
				}
			}
		}
	}
	.option {
		float: left;
		width: 31.25%;
		margin-top: 160px;
		padding-left: 65px;
		border-left: 1px dashed #999;
		> .group {
			&:not(:first-child) {
				margin-top: 50px;
			}
		}
		.title {
			display: block;
			margin-bottom: 20px;
			color: #000;
			font-weight: 900;
			font-size: 1.875rem;
			@include FontHead;
		}
		.promotion {
			display: flex;
			flex-wrap: wrap;
			margin:-5px 0 0 -5px;
			[class^="tag_"] {
				display: inline-block;
				margin:5px 0 0 5px;
				padding: 9px 20px 11px;
				font-weight: 900;
				font-size: 0.9375rem;
				line-height: 1.438rem;
				border: {
					width: 1.5px;
					style: solid;
				};
				&[class*="finance"] {
					border-color: #0055B9;
					color: #0055B9;
				}
				&[class*="tradein"] {
					border-color: #B248B2;
					color: #B248B2;
				}
				&[class*="corp"] {
					border-color: #00AF87;
					color: #00AF87;
				}
			}
		}
	}
}
.option_container {
	.option_mask {
		margin: -32px 0 0 -32px;
		&:after {
			@extend %clearer;
		}
	}
	&._concierge {
		.option_thumnail {
			&[aria-selected="true"] {
				padding: 0;
				box-shadow: none;
				@include scale(1);
				&:before {
					left: 0;
				}
				&:after {
					left: 11px;
				}
			}
		}
	}
}
.option_thumnail {
	float: left;
	width: calc(100% / 4 - 32px);
	margin: 32px 0 0 32px;
	position: relative;
	cursor: pointer;
	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
	}
	&:before {
		left: 0;
		top: 0;
		width: 30px;
		height: 30px;
		background-color: #fff;
		border: 1px solid #d9d9d9;
	}
	&:after {
		left: 11px;
		top: 9px;
		width: 7px;
		height: 7px;
		border-left: 3px solid #d9d9d9;
		border-top: 3px solid #d9d9d9;
		@include rotate(225);
	}
	&[aria-selected="true"] {
		padding: 0 15px 20px;
		box-shadow:12px 8px 40px rgba(0,0,0,.16);
		@include scale(1.12);
		&:before {
			left: 15px;
			background-color: #FF8D34;
			border-color: #FF8D34;
		}
		&:after {
			left: 26px;
			border-color: #fff;
		}
		.option_bottom {
			.option_price {
				color: #EA9000;
			}
			.ic_info {
				background-image: url(../images/ico/icon_info-select.png);
			}
		}
	}
	.option_head {
		.option_img {
			img {
				width: 100%;
			}
		}
	}
	.option_body {
		padding: 13px 5px 0;
		.option_seller {
			display: block;
			color: #000;
			font-weight: 600;
			font-size: 1.125rem;
			line-height: 1.625rem;
			@include ellipse(1);
		}
		.option_desc {
			margin-top: 11px;
			color: #999;
			font-size: 0.875rem;
			line-height: 1.375rem;
			@include ellipse(2);
		}
	}
	.option_bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 11px 5px 0;
		.option_price {
			color: #000;
			font-weight: 600;
			font-size: 1rem;
			line-height: 1.5rem;
		}
		.ic_info {
			overflow: hidden;
			margin-right: 0;
			text-indent: 100%;
			white-space: nowrap;
		}
	}
}
.delivery_container {
	.radio_tablist {
		margin-bottom: 40px;
	}
	.contact {
		&:after {
			@extend %clearer;
		}
		.map,
		.location {
			float: left;
			width: 50%;
		}
		.location {
			padding: 46px 0 0 90px;
			.store_name {
				color: #000;
				margin-bottom: 40px;
				font-weight: 900;
				font-size: 1.375rem;
				line-height: 1.5rem;
			}
			.store_info {
				&:after {
					content: '';
					display: block;
					clear: both;
				}
				dt,
				dd {
					float: left;
					font-size: 1rem;
					line-height: 1.5rem;
				}
				dt {
					width: 27.401%;
					color: #999;
					&:not(:first-of-type) {
						clear: left;
						margin-top:40px;
					}
				}
				dd {
					width: calc(100% - 27.401%);
					color: #000;
					&:not(:first-of-type) {
						margin-top: 40px;
					}
				}
			}
			.store_change {
				margin-top: 70px;
				text-align: center;
				button {
					width: 350px;
					height: 65px;
					border: 2px solid #0E306C;
					color: #0E306C;
					font-weight: 600;
					font-size: 1.375rem;
					line-height: 1.625rem;
					@include FontHead;
				}
			}
		}
	}
	.referred_location {
		max-width: 70.917%;
		margin: 0 auto;
		.bring {
			margin-bottom: 38px;
			label {
				font-size: 1rem;
				line-height: 1.5rem;
				@include FontText;
				input[type="checkbox"] {
					& + span {
						font-family: inherit;
					}
				}
			}
		}
		.feild_search {
			position: relative;
			.ic_search {
				position: absolute;
				right: 20px;
				top: 50%;
				margin: -10px 0 0;
			}
		}
	}
}
.event_container {
	.event_item {
		position: relative;
		padding: 31px 50px 35px;
		border: 1px solid #d9d9d9;
		&:not(:first-child) {
			margin-top: 13px;
		}
		&[role="checkbox"] {
			cursor:pointer;
		}
		&[role="checkbox"]:before,
		&[role="checkbox"]:after {
			content: '';
			display: block;
			position: absolute;
		}
		&[role="checkbox"]:before {
			left: -1px;
			top: -1px;
			width: 31px;
			height: 31px;
			background-color: #fff;
			border: 1px solid #d9d9d9;
		}
		&[role="checkbox"]:after {
			left: 11px;
			top: 9px;
			width: 7px;
			height: 7px;
			border-left: 3px solid #d9d9d9;
			border-top: 3px solid #d9d9d9;
			@include rotate(225);
		}
		&[role="checkbox"][aria-selected="true"] {
			&:before {
				background-color: #FF8D34;
				border-color: #FF8D34;
			}
			&:after {
				border-color: #fff;
			}
		}
		&.applied {
			.event_date {
				align-self: self-start;
			}
		}
		> .group {
			display: flex;
			align-items: center;
		}
		.event_info {
			margin-right: auto;
			.event_title {
				color: #000;
				font-weight: 900;
				font-size: 1.375rem;
				line-height: 1.875rem;
			}
			.event_applied {
				display: inline-flex;
				align-items: center;
				margin-left: 10px;
				padding: 2px 13px 4px 8px;
				border-radius: 15px;
				background-color: #FF8D34;
				i {
					@include iconAngle($direction: 'down', $width: 17px, $height: 8px, $thick: 2px, $color: #fff, $display: inline-block);
				}
				span {
					margin-left: 3px;
					color: #fff;
					font-weight: 600;
					font-size: .875rem;
					line-height: 1.5rem;
				}

			}
			.event_discount {
				display: flex;
				margin-top: 9px;
				span,
				em {
					font-size: 1rem;
					line-height: 1.5rem;
				}
				em {
					margin-left: 11px;
					color: #FF8D34;
					font-weight: 900;
				}
			}
			.msg_info {
				display: block;
				margin-top: 5px;
				color: #999;
				font-size: .875rem;
				line-height: 1.375rem;
			}
		}
		.applied_result {
			margin-top: 29px;
			color: #000;
			font-size: 1rem;
			line-height: 1.5rem;
			&.back {
				margin-top: 21px;
				padding: 13px 20px;
				background: #f4f4f4;
				font-size: .875rem;
				line-height: 1.375rem;
			}
			* {
				color: inherit;
				font-size: inherit;
				line-height: inherit;
			}
			.bullet_square {
				> li {
					&:before {
						top: 8px;
					}
				}
			}
			.bullet_square:not(ul):not(ol) {
				&:before {
					top: 8px;
				}
			}
			.separated {
				display: flex;
				align-items: center;
				.price {
					margin-left: 12px;
					color: #FF8D34;
					font-weight: 900;
				}
				.etc {
					margin-left: 27px;
					color: #999;
					font-size: .875rem;
					line-height: 1.375rem;
				}
			}
		}
		.event_date {
			display: flex;
			font-size: 1rem;
			line-height: 1.625rem;
			.expiry {
				color: #999;
				font-size: inherit;
			}
			.day {
				margin-left: 8px;
				color: #000;
				font-size: inherit;
				font-weight: 900;
			}
		}
		.event_button {
			margin-left: 20px;
			.btn_applied {
				width: 180px;
				height: 50px;
				border: 1px solid #d9d9d9;
				background-color: #f4f4f4;
				color: #000;
				font-weight: 600;
				font-size: 1rem;
				line-height: 1.625rem;
				@include FontHead;
			}
		}
	}
}
.fixed_bottom {
	display: flex;
	.result {
		display: flex;
		align-items: center;
		flex: 3;
		padding-left: 60px;
		border-top: 1px solid #d9d9d9;
		.product_name {
			color: #000;
			font-weight: 600;
			font-size: 2.625rem;
			line-height: 4.125rem;
			@include FontHead;
		}
		.total_price {
			position: relative;
			margin-left: 34px;
			padding-left: 25px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				width: 1px;
				height: 32px;
				margin-top: -16px;
				border-left: 1px dashed #999;
			}
			.total {
				display: block;
				color: #999;
				font-size: 11px;
				line-height: 23px;
				@include FontHead;
			}
			.price {
				color: #FF8D34;
				font-weight: 900;
				font-size: 1.375rem;
				vertical-align: baseline;
				@include FontHead;
			}
			.pm {
				color: #000;
				font-size: 0.875rem;
				line-height: 1.438rem;
				vertical-align: baseline;
				@include FontHead;
			}
		}
	}
	.review {
		flex: 0.7044;
		border-top: 1px solid #d9d9d9;
		border-left: 1px solid #d9d9d9;
		span {
			position: relative;
			padding-left: 28px;
			color: #000;
			font-weight: 600;
			font-size: 1.125rem;
			line-height: 1.5rem;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				width: 16px;
				height: 16px;
				margin-top: -8px;
				background: {
					image: url("../images/ico/icon_review.png");
					size: cover;
					repeat: no-repeat;
				};
			}
		}
	}
	.btn-type {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1.311;
		height: auto;
		span {
			color: #fff;
			font-weight: 600;
			font-size: 1.5rem;
			@include FontHead;
		}
		i {
			margin-left: 16px;
			@include iconAngle($direction: 'right', $width: 10px, $height: 22px, $thick: 2.5px, $color: #fff, $display: inline-block);
		}
	}
}
.edit_estimation {
	.vehicle_number {
		.desc {
			color: #000;
			font-size: 16px;
			@include FontText;
		}
		.input_container {
			display: flex;
			flex-wrap: wrap;
			margin: 20px 0 28px;
			padding-bottom: 30px;
			border-bottom: 1px dashed #999;
			input[type="text"] {
				width: calc(30% - 5px);
			}
			.btn_search {
				width: calc(20% - 9px);
				margin-left: 10px;
				border: 1px solid #d9d9d9;
				background-color: #f4f4f4;
				color: #000;
				font-weight: 600;
				font-size: 1rem;
			}
			input[type="checkbox"]:checked {
				& + .btn_denined {
					background-color: #0E306C;
					color: #fff;
				}
			}
			.btn_denined {
				width: calc(50% - 6px);
				margin-left: 10px;
				height: 50px;
				border: 2px solid #0E306C;
				font-weight: 600;
				font-size: 1rem;
				text-align: center;
				line-height: 48px;
				cursor: pointer;
			}
		}
	}
	.total_result {
		margin-top: 40px;
		padding-top: 28px;
		border-top: 3px solid #000;
		text-align: right;
		.desc {
			color: #000;
			font-size: 16px;
			@include FontText;
		}
		.price {
			color: #000;
			font-weight: 900;
			font-size: 2.5rem;
		}
	}
	.info {
		margin-top: 33px;
		padding-top: 18px;
		border-top: 1px dashed #999;
		.desc {
			color: #999;
			font-size: .875rem;
			line-height: 1.375rem;
			@include FontText;
		}
	}
}
.edit_condition {
	.desc {
		margin-bottom: 30px;
		color: #000;
		font-size: 1rem;
		line-height: 1.5rem;
	}
	.radio-tab_contents {
		position: relative;
		margin-top: 40px;
		padding-top: 40px;
		border-top: 1px dashed #999;
	}
	.required_field {
		position: absolute;
		right: 0;
		top: -60px;
		color: #000;
		font-weight: 900;
		font-size: 1rem;
	}
	.reset {
		display: flex;
		justify-content: flex-end;
		margin: 40px 0 -60px;
		button {
			display: flex;
			align-items: center;
			span {
				color: #000;
				font-size: 1rem;
			}
		}
	}

}
.edit_coupon {
	.desc {
		margin-bottom: 20px;
		color: #000;
		font-size: 1rem;
	}
	.frm_field {
		.frm {
			input[type="text"] {
				flex: 1;
			}
			.btn_check {
				flex: .3;
				border: 1px solid #d9d9d9;
				background: #f4f4f4;
				color: #000;
				font-size: 16px;
				font-weight: 600;
				@include FontHead;
			}
			.applied_coupon {
				width: 100%;
				margin-top: 10px;
				color: #000;
				font-size: 1rem;
				.highlight {
					color: #E80710;
				}
			}
		}
	}
	.msg_info {
		color: #000;
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

[class^="bullet_"]:not(ul):not(ol),
[class^="bullet_"] > li {
	position: relative;
	padding-left: 8px;
	font-size: 1rem;
	line-height: 1.5rem;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
	}
}
.bullet_square {
	> li {
		&:before {
			top: 10px;
			width: 3px;
			height: 3px;
			border-radius: 100%;
			background-color: #000;
		}
	}
}
.bullet_square:not(ul):not(ol) {
	&:before {
		top: 10px;
		width: 3px;
		height: 3px;
		border-radius: 100%;
		background-color: #000;
	}
}