@charset "utf-8";

@import "mixins";

.select_dealer {
	.result {
		display: flex;
		flex-direction: row-reverse;
		margin-top: 40px;
		border: 1px solid #D9D9D9;
		.contact,
		.map {
			flex: 1 0 50%;
		}
		.contact {
			overflow-y: auto;
			height: 50vh;
			border-left: 1px solid #D9D9D9;
		}
		.dealer_info {
			> .group {
				padding: 20px;
				cursor: pointer;
				&:not(:first-child) {
					border-top: 1px solid #D9D9D9;
				}
				&._active,
				&:hover,
				&:focus {
					background-color: #F4F4F4;
				}
			}
			.place {
				display: block;
				font-weight: 900;
			}
			.near {
				margin-top: 5px;
				color: #FF9934;
				font-weight: 600;
				font-size: .875rem;
			}
			.address {
				margin-top: 20px;
				li {
					display: flex;
					&:not(:first-child) {
						margin-top: 10px;
					}
					&.tel {
						i {background-image: url(../images/ico/icon_call.png);}
					}
					&.mail {
						i {background-image: url(../images/ico/icon_mail.png);}
					}
				}
				i {
					flex: 0 0 auto;
					width: 16px;
					height: 16px;
					margin: 4px 10px 0 0;
					background: {
						repeat: no-repeat;
						position: 0 0;
						size: cover;
					};
				}
				span,
				a {
					font-size: .875rem;
					line-height: 1.5rem;
				}
			}
		}
	}
}
.trims {
	max-width: 1200px;
	margin: 0 auto;
	&:after {
		@extend %clearer;
	}
	.front {
		float: left;
		width: 68.75%;
		.car_img {
			margin-top: 80px;
			img {
				width: 100%;
			}
		}
		.features {
			margin-top: 15px;
			text-align: center;
			.list {
				display: inline-flex;
				li {
					display: flex;
					align-items: center;
					color: #000;
					font-weight: 600;
					font-size: 1.625rem;
					&:not(:first-child) {
						position: relative;
						margin-left: 32px;
						padding-left: 32px;
						&:before {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							top: 50%;
							height: 20px;
							margin-top: -10px;
							border-left: 1px dashed #999;
						}
					}
				}
				[class^="ico_"] {
					display: inline-block;
					width: 35px;
					height: 35px;
					margin-right: 10px;
				}
				span {
					color: inherit;
					font-weight: inherit;
					font-size: inherit;
				}
			}
		}
	}
	.option {
		float: left;
		width: 31.25%;
		margin-top: 160px;
		padding-left: 65px;
		border-left: 1px dashed #999;
		> .group {
			&:not(:first-child) {
				margin-top: 50px;
			}
		}
		.title {
			display: block;
			margin-bottom: 20px;
			color: #000;
			font-weight: 900;
			font-size: 1.875rem;
			@include FontHead;
		}
		.promotion {
			display: flex;
			flex-wrap: wrap;
			margin:-5px 0 0 -5px;
			[class^="tag_"] {
				display: inline-block;
				margin:5px 0 0 5px;
				padding: 9px 20px 11px;
				font-weight: 900;
				font-size: 0.9375rem;
				line-height: 1.438rem;
				border: {
					width: 1.5px;
					style: solid;
				};
				&[class*="finance"] {
					border-color: #0055B9;
					color: #0055B9;
				}
				&[class*="tradein"] {
					border-color: #B248B2;
					color: #B248B2;
				}
				&[class*="corp"] {
					border-color: #00AF87;
					color: #00AF87;
				}
			}
		}
	}
}

.option_container {
	.option_mask {
		overflow: hidden;
		margin-left: -32px;
		&:after {
			@extend %clearer;
		}
	}
	&._concierge {
		margin-top: -32px;
		.option_thumnail {
			&[aria-selected="true"] {
				&:before {
					display: none;
				}
			}
		}
	}
}

.delivery_container {
	.radio_tablist {
		margin-bottom: 40px;
	}
	.contact {
		&:after {
			@extend %clearer;
		}
		.map,
		.location {
			float: left;
			width: 50%;
		}
		.location {
			padding: 46px 0 0 90px;
			.store_name {
				color: #000;
				margin-bottom: 40px;
				font-weight: 900;
				font-size: 1.375rem;
				line-height: 1.5rem;
			}
			.store_info {
				&:after {
					content: '';
					display: block;
					clear: both;
				}
				dt,
				dd {
					float: left;
					font-size: 1rem;
					line-height: 1.5rem;
				}
				dt {
					width: 27.401%;
					color: #999;
					&:not(:first-of-type) {
						clear: left;
						margin-top:40px;
					}
				}
				dd {
					width: calc(100% - 27.401%);
					color: #000;
					&:not(:first-of-type) {
						margin-top: 40px;
					}
				}
			}
			.store_change {
				margin-top: 70px;
				text-align: center;
				button {
					width: 350px;
					height: 65px;
					border: 2px solid #0E306C;
					color: #0E306C;
					font-weight: 600;
					font-size: 1.375rem;
					line-height: 1.625rem;
					@include FontHead;
				}
			}
		}
	}
	.referred_location {
		max-width: 70.917%;
		margin: 0 auto;
		.bring {
			margin-bottom: 38px;
			label {
				font-size: 1rem;
				line-height: 1.5rem;
				@include FontText;
				input[type="checkbox"] {
					& + span {
						font-family: inherit;
					}
				}
			}
		}
		.feild_search {
			position: relative;
			.ic_search {
				position: absolute;
				right: 20px;
				top: 50%;
				margin: -10px 0 0;
			}
		}
	}
}
.event_container {
	.event_item {
		position: relative;
		padding: 31px 50px 35px;
		border: 1px solid #d9d9d9;
		&:not(:first-child) {
			margin-top: 13px;
		}
		&[role="checkbox"] {
			cursor:pointer;
		}
		&[role="checkbox"]:before,
		&[role="checkbox"]:after {
			content: '';
			display: block;
			position: absolute;
		}
		&[role="checkbox"]:before {
			left: -1px;
			top: -1px;
			width: 31px;
			height: 31px;
			background-color: #fff;
			border: 1px solid #d9d9d9;
		}
		&[role="checkbox"]:after {
			left: 11px;
			top: 9px;
			width: 7px;
			height: 7px;
			border-left: 3px solid #d9d9d9;
			border-top: 3px solid #d9d9d9;
			@include rotate(225);
		}
		&[role="checkbox"][aria-selected="true"] {
			&:before {
				background-color: #FF8D34;
				border-color: #FF8D34;
			}
			&:after {
				border-color: #fff;
			}
		}
		&.applied {
			.event_date {
				align-self: self-start;
			}
		}
		> .group {
			display: flex;
			align-items: center;
		}
		.event_info {
			margin-right: auto;
			.event_title {
				color: #000;
				font-weight: 900;
				font-size: 1.375rem;
				line-height: 1.875rem;
			}
			.event_applied {
				display: inline-flex;
				align-items: center;
				margin-left: 10px;
				padding: 2px 13px 4px 8px;
				border-radius: 15px;
				background-color: #FF8D34;
				i {
					@include iconAngle($direction: 'down', $width: 17px, $height: 8px, $thick: 2px, $color: #fff, $display: inline-block);
				}
				span {
					margin-left: 3px;
					color: #fff;
					font-weight: 600;
					font-size: .875rem;
					line-height: 1.5rem;
				}

			}
			.event_discount {
				display: flex;
				margin-top: 9px;
				span,
				em {
					font-size: 1rem;
					line-height: 1.5rem;
				}
				em {
					margin-left: 11px;
					color: #FF8D34;
					font-weight: 900;
				}
			}
			.msg_info {
				display: block;
				margin-top: 5px;
				color: #999;
				font-size: .875rem;
				line-height: 1.375rem;
			}
		}
		.applied_result {
			margin-top: 29px;
			color: #000;
			font-size: 1rem;
			line-height: 1.5rem;
			&.back {
				margin-top: 21px;
				padding: 13px 20px;
				background: #f4f4f4;
				font-size: .875rem;
				line-height: 1.375rem;
			}
			* {
				color: inherit;
				font-size: inherit;
				line-height: inherit;
			}
			.bullet_square {
				> li {
					&:before {
						top: 8px;
					}
				}
			}
			.bullet_square:not(ul):not(ol) {
				&:before {
					top: 8px;
				}
			}
			.separated {
				display: flex;
				align-items: center;
				.price {
					margin-left: 12px;
					color: #FF8D34;
					font-weight: 900;
				}
				.etc {
					margin-left: 27px;
					color: #999;
					font-size: .875rem;
					line-height: 1.375rem;
				}
			}
		}
		.event_date {
			display: flex;
			font-size: 1rem;
			line-height: 1.625rem;
			.expiry {
				color: #999;
				font-size: inherit;
			}
			.day {
				margin-left: 8px;
				color: #000;
				font-size: inherit;
				font-weight: 900;
			}
		}
		.event_button {
			margin-left: 20px;
			.btn_applied {
				width: 180px;
				height: 50px;
				border: 1px solid #d9d9d9;
				background-color: #f4f4f4;
				color: #000;
				font-weight: 600;
				font-size: 1rem;
				line-height: 1.625rem;
				@include FontHead;
			}
		}
	}
}
.complete {
	height: 100%;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	.car,
	.estimate {
		float: left;
		width: 50%;
	}
	.car {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		width:50%;
		height: 100%;
		background: #f4f4f4;
		.car_img {
			position: relative;
			left: 8.7%;
			width: 100%;
			img {
				align-self: center;
				margin: 0;
			}
		}
		.info_container {
			margin-top: 15px;
			&:after {
				content: '';
				display: block;
				clear: both;
			}
			> .group {
				float: left;
				&:not(:first-child) {
					margin-left: 67px;
				}
			}
			dt {
				color: #999;
				font-size: .875rem;
			}
			dd {
				margin-top: 6px;
				color: #000;
				font-weight: 900;
				font-size: 1.625rem;
			}
			.car_number {
				color: #FF9934;
			}
		}
	}
	.estimate {
		overflow-y: auto;
		max-height: 100%;
		padding: 120px 10% 0;
		.estimate_head {
			position: relative;
			padding-top: 90px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 90px;
				height: 90px;
				background: {
					image: url(../images/ico/icon_car.png);
					repeat: no-repeat;
					position: 0 0;
					size: cover;
				};
			}
			.title {
				font-weight: 900;
				font-size: 3.4375rem;
				@include FontHead;
			}
			.desc {
				margin-top: 10px;
				color: #000;
				line-height: 1.5rem;
			}
		}
		&:after {
			content: '';
			display: block;
			height: 120px;
		}
		.estimate_body {
			margin-top: 40px;
			border-top: 3px solid #000;
		}
		.estimate_list {
			> li {
				padding-top: 40px;
				&:not(:first-child) {
					margin-top: 40px;
					border-top: 1px dashed #999;
				}
			}
			.parts {
				font-weight: 900;
				font-size: 1.625rem;
			}
			.detail {
				margin-top: 15px;
				> .group {
					display: flex;
					// justify-content: space-between;
					line-height: 1.5625rem;
				}
				span {
					flex: 1;
				}
				span:last-child {
					flex: .7;
					text-align: right;
				}
			}
		}
	}
}
.h-layer_cont {
	> p:first-child + .frm_field {
		margin-top: 20px;
	}
	.frm_field {
		.frm {
			._mix {
				input[type="text"] {
					flex: none;
					width: calc(75% - 10px);
				}
				.btn_gray {
					flex: none;
					width: 25%;
					border: 1px solid #d9d9d9;
					background: #f4f4f4;
					color: #000;
					font-size: 1rem;
					font-weight: 600;
					@include FontHead;
				}
			}
			.inp_txt {
				font-size: 1rem;
			}
		}
	}
}
.popular_colors {
	.h-layer_wrap {
		left: 15px;
		top: auto;
		bottom: 24%;
		transform: none;
	}
	.note {
		margin-bottom: 30px;
		font-size: 1rem;
		.highlight {
			margin-top: 10px;
			font-weight: 900;
		}
	}
	.popular_list {
		> li {
			&:not(:first-child) {
				margin-top: 20px;
			}
			> .group {
				display: flex;
				align-items: center;
			}
		}
		.color_name {
			flex: 1;
			font-weight: 900;
			font-size: .875rem;
			text-align: left;
		}
		.bar {
			display: flex;
			width: 214px;
			height: 25px;
			background-color: #f4f4f4;
			.color,
			.percent {
				height: 100%;
			}
			.percent {
				display: flex;
				align-items: center;
				margin: 0 10px 0 auto;
				font-weight: 600;
				font-size: .875rem;
			}
		}
	}
}
.edit_estimation {
	.vehicle_number {
		.desc {
			color: #000;
			font-size: 16px;
			@include FontText;
		}
		.input_container {
			display: flex;
			flex-wrap: wrap;
			margin: 20px 0 28px;
			padding-bottom: 30px;
			border-bottom: 1px dashed #999;
			input[type="text"] {
				width: calc(30% - 5px);
			}
			.btn_search {
				width: calc(20% - 9px);
				margin-left: 10px;
				border: 1px solid #d9d9d9;
				background-color: #f4f4f4;
				color: #000;
				font-weight: 600;
				font-size: 1rem;
			}
			input[type="checkbox"]:checked {
				& + .btn_denined {
					background-color: #0E306C;
					color: #fff;
				}
			}
			.btn_denined {
				width: calc(50% - 6px);
				margin-left: 10px;
				height: 50px;
				border: 2px solid #0E306C;
				font-weight: 600;
				font-size: 1rem;
				text-align: center;
				line-height: 48px;
				cursor: pointer;
			}
		}
	}
	.total_result {
		margin-top: 40px;
		padding-top: 28px;
		border-top: 3px solid #000;
		text-align: right;
		.desc {
			color: #000;
			font-size: 16px;
			@include FontText;
		}
		.price {
			color: #000;
			font-weight: 900;
			font-size: 2.5rem;
			@include FontHead;
		}
	}
	.info {
		margin-top: 33px;
		padding-top: 18px;
		border-top: 1px dashed #999;
		.desc {
			color: #999;
			font-size: .875rem;
			line-height: 1.375rem;
			@include FontText;
		}
	}
}
.edit_condition {
	.desc {
		margin-bottom: 30px;
		color: #000;
		font-size: 1rem;
		line-height: 1.5rem;
	}
	.radio-tab_contents {
		position: relative;
		margin-top: 40px;
		padding-top: 40px;
		border-top: 1px dashed #999;
	}
	.required_field {
		position: absolute;
		right: 0;
		top: -60px;
		color: #000;
		font-weight: 900;
		font-size: 1rem;
	}
	.reset {
		display: flex;
		justify-content: flex-end;
		margin: 40px 0 -60px;
		button {
			display: flex;
			align-items: center;
			span {
				color: #000;
				font-size: 1rem;
			}
		}
	}
}
.edit_coupon {
	.desc {
		margin-bottom: 20px;
		color: #000;
		font-size: 1rem;
	}
	.frm_field {
		.frm {
			.applied_coupon {
				margin-top: 10px;
				color: #000;
				font-size: 1rem;
				.highlight {
					color: #E80710;
				}
			}
		}
	}
	.msg_info {
		color: #000;
		font-size: 1rem;
		line-height: 1.5rem;
	}
}
.documnet_upload {
	.desc {
		margin-bottom: 30px;
		color: #000;
		font-size: 1rem;
		line-height: 1.5rem;
	}
	.select_company {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px dashed #999;
	}
	.selectbox {
		margin-top: 30px;
	}
	.title {
		margin-bottom: 10px;
		color: #000;
		font-weight: 900;
		font-size: 1.375rem;
	}
	.upload_container {
		margin-top: 30px;
		> .group {
			&:not(:first-child) {
				margin-top: 30px;
			}
		}
		.upload_item {
			margin-bottom: 10px;
			font-weight: 900;
			font-size: 1rem;
		}
	}
	.agree_container {
		margin-top: 40px;
		.chkwrap {
			margin-right: 0;
			label {
				height: auto;
				background-position: left top;
				line-height: inherit;
				span {
					color: #000;
					font-weight: 600;
					font-size: 1rem;
				}
			}
		}
		.msg_error {
			margin: 10px 0 0 30px;
			color: #E80710;
			font-size: 1rem;
		}
	}
}

.upload_file {
	> .group {
		display: flex;
	}
	input[type="text"] {
		width: calc(75.5% - 10px);
	}
	input[type="file"] + label {
		width: 24.5%;
		margin-left: 10px;
		height: 50px;
		background-color: #f4f4f4;
		border: 1px solid #d9d9d9;
		color: #000;
		font-weight: 600;
		text-align: center;
		line-height: 48px;
		@include FontHead;
	}
	.uploaded_file {
		display: flex;
		align-items: center;
		margin-top: 10px;
		.file {
			color: #0559F7;
			font-size: 1rem;
		}
		.delete {
			position: relative;
			width: 14px;
			height: 14px;
			margin-left: 6px;
			background-color: #d8d8d8;
			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				background-color: #fff;
			}
			&:before {
				width: 7.5px;
				height: 1.5px;
				@include transform(translate(-50%, -50%) rotate(45deg));
			}
			&:after {
				width: 1.5px;
				height: 7.5px;
				@include transform(translate(-50%, -50%) rotate(45deg));
			}
		}
	}
	[class^="msg_"] {
		margin-top: 10px;
		font-size: 1rem;
	}
	.msg_error {color: #E80710;}
}

[class^="bullet_"]:not(ul):not(ol),
[class^="bullet_"] > li {
	position: relative;
	padding-left: 8px;
	font-size: 1rem;
	line-height: 1.5rem;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
	}
}
.bullet_square {
	> li {
		&:before {
			top: 10px;
			width: 3px;
			height: 3px;
			border-radius: 100%;
			background-color: #000;
		}
	}
}
.bullet_square:not(ul):not(ol) {
	&:before {
		top: 10px;
		width: 3px;
		height: 3px;
		border-radius: 100%;
		background-color: #000;
	}
}