@charset "utf-8";

@import "global";
@import "mixins";

// member
.membership {
	min-height:100%;
	background-color:#fff;
	.content_wrap {
		margin-bottom:60px;
	}
}
.member_wrap {
	max-width:560px;
	margin:0 auto;
	padding-top:66px;
	.btn-type_wrap {
		.btn-type {
			width:100%;
		}
		.txt {
			margin-bottom: 40px;
			text-align: left;
			font-size: 0.875rem;
			line-height: 1.375rem;
			.tit {
				margin: 40px 0 10px;
				display: block;
				font-size: 1rem;
				font-weight: 900;
				line-height: inherit;
			}
		}
	}
	&._large {
		max-width:850px;
		.btn-type_wrap {
			.btn-type {
				max-width:350px;
			}
		}
	}
	.tab_wrap {
		.txt {
			margin-bottom: 20px;
			// font-size: 1rem;
			// line-height: 1.5rem;
			.tit {
				margin: 40px 0 10px;
				display: block;
				// font-size: inherit;
				font-weight: 900;
				// line-height: inherit;
			}
		}
		.radio_tablist {
			margin-bottom: 40px;
			li {
				margin-right: 50px;
			}
			.radiowrap {
				input[type=radio]:before {
					left: 0;
				}
			}
		}
	}
}

.title_wrap {
	position:relative;
	.req_txt {
		position:absolute;
		bottom:0;
		right:0;
		font-weight:900;
	}
	.content_title {
		color: #000;
		@include FontHead;
		font-weight: 900;
		font-size: 2.5rem;
		line-height: 3.125rem;
		margin-bottom: 47px;
	}
	& + .content_txt {
		padding-bottom: 20px;
		border-bottom: 3px solid #000;
		margin-bottom: 40px;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.5rem;
	}
	}
.frm_field {
	._mix._fix {
		.inp_txt {
			width:100%;
		}
		input {
			min-width:calc(100% - 180px);
		}
		button.btn_check {
			max-width:180px;
			height: 50px;
			border: 1px solid #d9d9d9;
			background-color: #f4f4f4;
			color: #000;
			font-weight: 600;
			font-size: 1rem;
			line-height: 1.625rem;
		}
		&.input-timer {
			input {
				width: 75%;
				min-width:calc(100% - 140px);
				position: inherit;
			}
			.clock {
				z-index: 2;
				display: inline-block;
				position: absolute;
				// right: calc(25% + 20px); 
				right: calc(25% + 1px);
				// top: 16px;
				top: 1px;
				color: #0559F7;
				font-size: 1rem;
				font-weight: 900;
				height: 48px;
				background-color: #fff;
				padding-right: 19px;
				padding-top: 16px;
				padding-left: 10px;
			}
			button {
				width: 23.214%; //130px;
			}
		}
	}
	& + .frm_field,
	.frm:not(:first-child) {
		margin-top:40px;
	}
	.masking {
		input {
			padding-right:60px;
		}
		.btn_masking {
			position:absolute;
			top:16px;
			right:20px;
		}
	}
	.noti_txt {
		p {
			position: relative;
			margin-left: 18px;
			font-size:0.875rem;
			line-height:1.375rem;
			&:before {
				content: '※';
				position: absolute;
				left: -18px;
				top: 0;
			}
		}
	}
}

.chk_terms {
	margin:60px 0;
	padding-top:15px;
	border-top:3px solid #000;
	.chkwrap {
		display:block;
		label input[type=checkbox] + span {
			font-size:1rem;
			font-weight:600;
		}
	}
}
.chk_login {
	margin:20px 0 40px;
	padding-top:0;
	border-top: none;
	position: relative;
	.chkwrap {
		label {
			input[type=checkbox] + span {
				font-weight: 600;
			}
		}
	}
	.find_wrap {
		position: absolute;
		bottom: 0;
		right: 0;
		display: flex;
		min-height: 30px;
		font-weight: 900;
		.find_lnk {
			font-size:1rem;
			font-weight:600;
			line-height:1.875rem;
			&:not(:last-child) {
				&:after {
					content: '|';
					color: #D9D9D9;
					cursor: default;
					margin-left: 14px;
				}
			}				
			&:last-child {
				margin-left: 14px;
			}
			a {
				font-size:inherit;
				font-weight:inherit;
				line-height:inherit;
			}
		}
	}
}

.sns_wrap {
	max-width:560px;
	margin:40px auto 0;
	text-align:center;
	.txt {
		position:relative;
		font-size:0.875rem;
		color:#999;
		&:before,
		&:after {
			content:'';
			position:absolute;
			top:50%;
			width:165px;
			height:2px;
			margin-top:-1px;
			background-color:#D9D9D9;
		}
		&:before {
			left:0;
		}
		&:after {
			right:0;
		}
	}
	.sns {
		margin-top:20px;
		font-size:0;
	}
	.ic_sns {
		width:60px;
		height:60px;
		margin:0 10px;
		border:1px solid #D9D9D9;
		border-radius:50%;
		background: {
			size:cover;
			position: 0 center;
			repeat:no-repeat;
		}
		&._tw {
			background-image: url(../images/ico/icon_sns1.png);
		}
		&._fb {
			background-image: url(../images/ico/icon_sns2.png);
		}
	}
}

// mypage
.mypage {
	display:flex;
	min-height:100%;
	.btn-type_wrap {
		width: 510px;
		margin: 60px auto 0;
		display: flex;
		flex-wrap:wrap;
		.btn-type {
			flex: 1;
			margin-right:10px;
			&:last-of-type {
				margin-right:0;
			}
			&._link {
				flex:none;
				height:auto;
				margin:0 auto;
				padding:0;
				font-size:0.875rem;
				font-weight:400;
				@include FontHead;
				line-height:1.625rem;
				color:#999;
				border-bottom:2px solid #999;
			}
		}
	}
	.content_wrap {
		padding-bottom:60px;
		border-bottom:3px solid #000;
	}
}
.user_area {
	display:flex;
	align-items:center;
	height:59px;
	padding:0 78px;
	border-bottom:1px solid #d9d9d9;
	background-color: #F4F4F4;
	.user_name {
		font-size:14px; // pc, mo 고정크기
		@include FontHead;
	}
	.user_icon {
		position:absolute;
		top:-1px;
		left:0;
		width:60px;
		height:60px;
		background-color:#0559F7;
		color:#fff;
		@include FontHead;
		font-size:24px; // pc, mo 고정크기
		line-height: 2.5; // pc, mo 고정크기
		font-weight:900;
		text-align:center;
		z-index:1;
	}
}
.lnb_wrap {
	width:301px;
	padding:56px 60px 0;
	border-right:1px solid #d9d9d9;
	background-color: #F4F4F4;
	h2 {
		margin-bottom:40px;
		@include FontHead;
		font-size:1.875rem;
		font-weight:900;
		i {
			display: none;
		}
	}
}
.lnb {
	> li {
		margin-bottom:30px;
	}
	.depth1 {
		display:block;
		margin-bottom:11px;
		font-weight:900;
		line-height:1.75rem;
	}
	.depth2 {
		a {
			position:relative;
			display:block;
			margin-bottom:10px;
			padding-left:11px;
			line-height:1.5rem;
			&:before {
				content:'';
				position:absolute;
				top:50%;
				left:2px;
				width:3px;
				height:3px;
				border-radius:50%;
				background-color:#000;
				transform:translateY(-50%);
			}
		}
		li._active {
			a {
				color:#0559F7;
				font-weight:900;
				&:before {
					left:0;
					background-color:#fff;
					border:2px solid #0559F7;
				}
			}
		}
	}
}
.mypage_wrap {
	width:calc(100% - 301px);
	padding:60px 80px 0;
	background-color:#fff;
}
.mypage_container {
	max-width:850px;
}

@media screen and (max-width:1024px){
}
.pg-mobile {
	.mypage {
		display:block;
		.btn-type_wrap {
			width:100%;
		}
	}
	.lnb_wrap, 
	.mypage_wrap {
		width:100%;
	}
	.mypage_wrap {
		padding:20px;
	}
	.lnb_wrap {
		position:relative;
		padding:0;
		background-color: #fff;
		z-index: 2;
		h2 {
			position:relative;
			display: block;
			padding:20px;
			margin-bottom:0;
			font-size:1.143rem;
			border-bottom:1px solid #D9D9D9;
			background-color: #fff;
			i {
				top:25px;
				right:20px;
				width:14px;
				height:10px;
				@include iconAngle($direction: 'down', $width: 14px, $height: 7px, $thick: 2px, $color: #000, $display: inline-block, $position: absolute);
			}
		}
		.lnb {
			display: none;
			position:absolute;
			top: 57px;
			width:100%;
			padding:30px;
			background-color: #F4F4F4;
			z-index: 2;
		}
		&._active {
			h2 {
				i {
					@include iconAngle($direction: 'up', $width: 14px, $height: 7px, $thick: 2px, $color: #000, $display: inline-block, $position: absolute);
				}
			}
			.lnb {
				display: block;
			}
		}
	}
	.user_area {
		position:relative;
		z-index: 10;
		background-color: #fff;
		&:before {
			content:'';
			position:absolute;
			top:-1px;
			left:0;
			width:100%;
			height:1px;
			background-color:#d9d9d9;
		}
	}
}